[2014-11-28 05:47] wikimatze opened #5 "Idea for a font-installation script"
Hi Ryan,

thanks for this awesome plugin. I installed your plugin and would like to add a script, which installs the `*.otf` font. I got it running under Xubuntu, to change the script for other operating systems should be no problem.

[2014-12-03 05:02] ryanoasis opened #7 "update readme for font and vim setup on osx and win platforms"
i have only used on linux but should add to the readme for specific setup on Windows and OSX (particularly guifont on vim and font installation)

[2014-12-05 15:20] blueyed opened #11 "Use single-width glyphs"
All (or at least) most glyphs appear to be wider than the normal characters (double width), and therefore an additional space gets appended.

Unfortunately the URxvt terminal does not handle those like gVim or libvte-based terminals (e.g. gnome-terminal) do ([ref](http://lists.schmorp.de/pipermail/rxvt-unicode/2014q4/002043.html)).

Would it be possible to only use a single character cell (as wide

[2014-12-07 14:57] ryanoasis opened #13 "Fix c and c++ issues"
Fix c++ glyph (++ hard to see)
Add more filetypes for c++
Add c glyph and filetype extensions

[2014-12-07 15:06] ryanoasis opened #14 "Test and add info for multiple terminals"
For each terminal:
* test
* add to readme the status with screenshot

E.g. xterm, konsole, gnome, urxvt

[2014-12-16 14:47] DemonCloud opened #15 "Add support (patch) for PragmataPro for Powerline"
I find Some best Program Fonts in here

https://github.com/Trazyn/Powerline-font

You mind this?  ：）

[2015-01-19 06:08] wikimatze opened #17 "Get tags (releases) and changelogs up to date"
The last one is over one year old.

[2015-01-19 18:32] ryanoasis commented on #17
I'm sorry? Not sure I follow what you are referring to

[2015-01-19 18:49] wikimatze commented on #17
I'm using a plugin manager for vim called [vim-plug](https://github.com/junegunn/vim-plug) and I don't always want to grab from master to track the changes a plugin takes.

[2015-01-20 17:18] ryanoasis commented on #17
Okay I see. I'm still pleading ignorance though because I am still not understanding. What is this ticket for exactly? Thanks

[2015-01-20 17:38] wikimatze commented on #17
To make you up to create a tag which I can take for my plugin manager so that I know which version I'm using.

[2015-01-20 17:43] ryanoasis commented on #17
thanks. ah okay I see what you mean now. Sorry.

I am behind on the release versioning and tags

the latest one is **24 Nov 2014 v0.1.3**

it's not over one year old but it is from last calendar year. there have been a few releases since then obviously I just haven't gotten around to bumping, updating changeset and pushing new tags. I plan to do this however and I will make sure to update this tic

[2015-01-20 17:43] wikimatze commented on #17
Juhu :+1:

[2015-01-20 17:44] wikimatze commented on #5
Any news about this so far?

[2015-01-20 17:50] ryanoasis commented on #5
Sorry, yes I was waiting for another response on the https://github.com/ryanoasis/vim-webdevicons/pull/6 comment thread I guess.

I think if you want to make the changes proposed by @blueyed then I will wait else I will at least merge it in as-is so it's at least available and you get the contrib credit :smile:

[2015-01-20 20:27] blueyed commented on #5
I think only the documentation should get changed. There is no need for an extra script / indirection.
I've thought that this was agreed upon in #6.

[2015-01-22 01:07] ryanoasis commented on #15
@DemonCloud your requested font is now available here: https://github.com/ryanoasis/nerd-filetype-glyphs-fonts-patcher/tree/master/patched-fonts

unless you have any issues with that I am going to close this ticket :smile_cat:

[2015-01-22 01:54] ryanoasis commented on #17
tags have been pushed and changelog updated

[2015-01-22 01:54] #17 closed

[2015-01-22 01:56] ryanoasis commented on #15
![selection_035](https://cloud.githubusercontent.com/assets/8083459/5849189/e61b8cda-a1af-11e4-8e51-0a64ea65cbf3.png)

[2015-01-22 02:17] DemonCloud commented on #15
WOW!! good work!

[2015-01-22 02:17] #15 closed

[2015-01-22 06:08] wikimatze commented on #17
Juhu!

[2015-01-22 15:26] #5 closed

[2015-01-30 08:08] calidion opened #21 "support gnome terminal"
how to?

[2015-01-31 00:38] ryanoasis commented on #21
@calidion I am not sure I know what you are asking. How to use this in non-GUI Vim and in the terminal?

[2015-01-31 02:12] calidion commented on #21
yes.

[2015-01-31 07:19] calidion commented on #21
vim-airline works with terminal or shell environment.

[2015-02-02 21:52] ryanoasis commented on #21
@calidion which terminal do you use? konsole? rxvt? gnome? xfce? other?

And did you set the font to one of the patched fonts for your terminal?

[2015-02-03 04:11] calidion commented on #21
gnome,  but the font will not show in the term's font list.

[2015-02-03 14:40] ryanoasis commented on #21
I am assuming you installed one of the fonts, per: https://github.com/ryanoasis/vim-webdevicons#font-installation ?

[2015-02-08 17:29] ryanoasis commented on #21
@calidion thank you for this because this **does** in fact look like an issue with the fonts. I have tried gnome-terminal on my system and I cannot see any of the patched fonts to show up in the preferences.

Making this work across more terminals is probably going to be the next big thing I try to fix.

For reference what I did try but did **not** work for me:
`fc-list | grep "Nerd File Types"`
h

[2015-02-12 00:03] aliev opened #22 "add support for directory glyphs (and configurable)"
Can you add something like that? https://dl.dropboxusercontent.com/u/5837324/vim-nerdtree.png (directory icons). I use a patched nerdtree

[2015-02-13 21:06] ryanoasis commented on #22
@aliev Yes that is definitely possible. I believe right now I just ignore folders. I will see if I can get something in for this on next release unless you want to try it yourself.

[2015-02-14 07:34] aliev commented on #22
@ryanoasis thank you!

[2015-02-14 07:38] aliev opened #23 "getting errors after updating webdevicons and airline"
getting errors after updating webdevicons and airline: https://dl.dropboxusercontent.com/u/5837324/errors.png

[2015-02-14 12:31] aliev commented on #23
@ryanoasis i think this is a reason https://github.com/bling/vim-airline/commit/ca925efdbfe88b03597efc7caee4ee8762a2cfe0

[2015-02-14 12:41] aliev commented on #23
@ryanoasis was created pull request https://github.com/ryanoasis/vim-webdevicons/pull/24

[2015-02-14 13:19] ryanoasis commented on #23
Wow that would definitely break it yeah. Thanks for the fix. I'll try to get to this soon, at least you have the fix for those who cannot wait :smile: :+1:

[2015-02-14 13:38] aliev commented on #23
@ryanoasis Thank you too :)

[2015-02-15 22:32] ryanoasis commented on #21
WIP: https://cloud.githubusercontent.com/assets/8083459/6205330/63451b90-b538-11e4-9b5e-11f4d5c3afc8.png

[2015-02-15 22:33] ryanoasis commented on #11
WIP: https://cloud.githubusercontent.com/assets/8083459/6205330/63451b90-b538-11e4-9b5e-11f4d5c3afc8.png

[2015-02-16 10:54] uralbash opened #25 "Error after updating vim-airline"
Get error after updating to https://github.com/bling/vim-airline/commit/ca925efdbfe88b03597efc7caee4ee8762a2cfe0

This line in the config everything breaks:
let g:airline#extensions#tabline#enabled = 1

    Error detected while processing function airline#extensions#tabline#get..<SNR>85_get_buffers..<SNR>85_get_visible_buffers..airline#extensions#tabline#get_buffer_name:
    line    1:
    E117: U

[2015-02-16 12:55] ryanoasis commented on #25
Thanks. Yes this was reported and is a known issues.

See #23 for the first bug report and **see #24 for the fix.**

I will get this fixed soon, apologies

[2015-02-16 13:15] uralbash commented on #25
Thanks!

[2015-02-16 13:15] #25 closed

[2015-02-16 13:36] ryanoasis commented on #25
No problem. :smile: Let me know if anything else.

[2015-02-19 01:02] ryanoasis commented on #23
related pull request #24 has been merged in. closing this.

[2015-02-19 01:02] #23 closed

[2015-02-19 02:09] #22 closed

[2015-02-21 01:42] ryanoasis commented on #21
For reference and linking ryanoasis/nerd-filetype-glyphs-fonts-patcher#4

[2015-02-21 01:44] ryanoasis commented on #11
For reference and linking ryanoasis/nerd-filetype-glyphs-fonts-patcher#4

[2015-03-09 22:20] ryanoasis commented on #11
working now as of:
* ryanoasis/nerd-filetype-glyphs-fonts-patcher@6c6ef8ef0ca382efbd39bd709007e6ee8f64edbf
 * with mono spaced cli flag
  * e.g. `./font-patcher unpatched-sample-fonts/Droid\ Sans\ Mono\ for\ Powerline.otf --use-single-width-glyphs --quiet`
* 4aa25340e9a7ebb35fced84598f85158767c71db
 * with g:WebDevIconsUnicodeGlyphDoubleWidth flag settings, `let g:WebDevIconsUnicodeGlyphDoubleWidt

[2015-03-09 22:20] #11 closed

[2015-03-09 22:21] ryanoasis commented on #21
working now as of:
* ryanoasis/nerd-filetype-glyphs-fonts-patcher@6c6ef8ef0ca382efbd39bd709007e6ee8f64edbf
 * with mono spaced cli flag
  * e.g. `./font-patcher unpatched-sample-fonts/Droid\ Sans\ Mono\ for\ Powerline.otf --use-single-width-glyphs --quiet`

[2015-03-09 22:21] #21 closed

[2015-03-09 22:21] ryanoasis commented on #13
working now as of:
* ryanoasis/nerd-filetype-glyphs-fonts-patcher@6c6ef8ef0ca382efbd39bd709007e6ee8f64edbf
 * with mono spaced cli flag
  * e.g. `./font-patcher unpatched-sample-fonts/Droid\ Sans\ Mono\ for\ Powerline.otf --use-single-width-glyphs --quiet`
* 4aa25340e9a7ebb35fced84598f85158767c71db
 * with g:WebDevIconsUnicodeGlyphDoubleWidth flag settings, `let g:WebDevIconsUnicodeGlyphDoubleWidt

[2015-03-09 22:21] #13 closed

[2015-03-12 04:44] htfy96 opened #26 "Detect and warn about unsupported (old) NERDTree versions"
Hi,
I'm using gvim7.4 in ubuntu and I'm sure I have installed the latest version of NERDTree, Airline as well as Pathegon with no git-NERDTree. I just installed the plugin by copying the vim-webdevicons-master folder into /bundle.

However, when gvim starts up, it gives out the following errors:
[code]
After that I find there is no icon loaded.

When a new file is opened, it prints the following m

[2015-03-12 04:48] htfy96 commented on #26
OK, I solved it by overriding NERDTree again. It seems that the version on addons.vim.org is not the latest version

[2015-03-12 04:51] htfy96 commented on #26
Hmmmmmm.... but the icon in NERDTree does not appear, and the errors about airline still exist.

[2015-03-12 05:10] htfy96 commented on #26
Finally there is no error, but most icons still do not appear( except .sh).
I patched Courier 10 Pitch on my own and `set guifont?` is like:
Courier 10 BT Plus Nerd File Types for Powerline 11

[2015-03-12 05:19] htfy96 commented on #26
Here is my unpatched font:
http://intmainreturn0.com/upload/Courier_10_Pitch_BT.ttf

[2015-03-12 11:29] ryanoasis commented on #26
Sorry for your troubles. Thanks I will try to take a look at your patched font when I can.

My guess at this state is that it is the problem with the patched font if only .sh is showing. Have you tried seeing if the glyphs show up in fontforge or character map?

[2015-03-12 11:45] htfy96 commented on #26
I checked it in fontforge and found glyphs U+e600 ~ U+e6a4 in devicons.ttf & my patched font. Is that correct?

[2015-03-12 11:45] htfy96 commented on #26
I checked it in fontforge and found glyphs U+e600 ~ U+e6a4 in devicons.ttf & my patched font. Is that correct?

[2015-03-12 11:56] htfy96 commented on #26
Only `.clj` `.dart` `.db` `.diff` `.java` .scala` `.sh` `.sln` `.suo` `.xul` works properly. `.hs` `.lhs` `.lua` is displayed as `E01F`, and other glyphs don't appear.

[2015-03-12 12:07] ryanoasis commented on #26
The ranges that should be patched in the patched font are `0xE600` through `0xE621` and `0xE700` through `0xE7A4`

I am unable to download the file with the link you provided. :disappointed:

Do the ones you mentioned only work properly in vim? As in are you able to see all the glyphs in fontforge and not in vim **or** do you not see the full range in **both**?

In fontforge you should see this fo

[2015-03-12 12:12] htfy96 commented on #26
Thanks for your help:)

I checked again only to find that 0xE700 to 0xE7A4 are OK while 0xE600 to 0xE621 are blank both in vim and fontforge.

[2015-03-12 12:21] htfy96 commented on #26
Here is what the patcher says:

[code]

Font: https://drive.google.com/file/d/0B1J4_who7eE_ZGZ0RXA4TXpHZm8/view?usp=sharing

[2015-03-12 14:16] ryanoasis commented on #26
That's strange because it seems to be working for me

I saved the powerline patched one here if you want to try to use it: https://drive.google.com/file/d/0BxQ9tUdREI0OTE8yenF1Z0J3SFk/view?usp=sharing

Here are my outputs for verbosity:

[code]

[code]

How it looks in nerdtree:

![selection_12_03_15_10 11 11_676x1002_001](https://cloud.githubusercontent.com/assets/8083459/6619475/ce210d40-c8a0-11

[2015-03-12 15:11] htfy96 commented on #26
The font you provide seems to work :smiley: . But I still guess there is something wrong with my computer/patcher.

[2015-03-12 15:18] ryanoasis commented on #26
Great (that it works)! I will probably add it to the official patched fonts in the next release.

It seems like it could either be your fontforge version and/or python version (if you are using the current master branch). Honestly I am not sure.

[2015-03-12 15:28] htfy96 commented on #26
My fontforge version: July 2012
My python version: 2.7.9

'20120731'

[2015-03-12 16:59] ryanoasis commented on #26
Hmm that might be it then, not sure, I would have to try to run the script with that version.
If you don't see `Generated` and the font name at the end of the script then it is not completing.

Mine btw is `20141231`

[2015-03-13 05:21] htfy96 commented on #26
Today I updated my fontforge and python-fontforge to 20150228, and it generated correct font(can be seen both in fontforge and vim). I suppose it is just a bug of old fontforge.

[2015-03-13 11:24] ryanoasis commented on #26
:+1: Nice! I've held off on updating out of fear of breakage. Good to know the latest seems to work.

I think I will add version detection on the next release :smile:

[2015-03-13 12:01] ryanoasis commented on #26
I will use this ticket for the vim-plugin/NERDTree portion and...

A new issue for the script/fonforge portion: ryanoasis/nerd-filetype-glyphs-fonts-patcher#6

[2015-04-04 05:56] jordwalke opened #27 "Remove [ ] wrapping icons."
Is it possible to remove the wrapping [ ] around the icons in the NERDTree? I think it would look cleaner without them.

[2015-04-04 06:35] jordwalke opened #28 "Setting global options broken (only works from .gvimrc)"
`g:WebDevIconsUnicodeDecorateFileNodesExtensionSymbols['js']`:

I tried setting this at the very end of my `.vimrc` and it didn't work because the global dictionary wasn't set yet. When are we to configure this?

[2015-04-04 17:48] ryanoasis commented on #27
Heh I actually messed around with some test code to do this a while ago but it broke some big things

So yes this is something I would like to improve, either directly or a PR on NERDTree (but that would be difficult to get one in I think)

[2015-04-04 19:49] jordwalke commented on #27
You can always fork nerd tree and have people point Vundle to your fork if people want to avoid the extra [] characters.

[2015-04-05 07:00] ryanoasis commented on #27
That is true but my test code was essentially a fork of a specific part of code that displays the brackets. I think this is the one I was messing with:

let g:NERDTreeFlagSet.renderToString = substitute(g:NERDTreeFlagSet.renderToString(), "[", "x", "")

[2015-04-05 07:07] ryanoasis commented on #28
I used to test with something like this in my vimrc:

let g:WebDevIconsUnicodeDecorateFileNodesExtensionSymbols['md'] = ''

But maybe it is not currently working so I will test it again soon. Thanks

[2015-04-05 07:26] jordwalke commented on #28
I believe it's not working. I tried before loading bundles, and after as well. (I use `Vundle`).

[2015-04-05 10:20] jordwalke commented on #27
I just realized something - wouldn't there be a way to use the `vim` `conceal` capabilities? You could add a concealment for each `GLYPH` such as: `[GLYPH] => GLYPH`.
You would probably need to have `concealcursor=nvc` for it to look good, and that's okay except it would conflict with the very small set of people that wish to use `concealcursor` for other purposes with a setting different than `nv

[2015-04-05 12:16] ryanoasis commented on #28
Ah okay thanks, I'll try to take a look soon

[2015-04-05 12:19] ryanoasis commented on #27
That is an interesting idea! Thanks I'll have to try it!

[2015-04-05 21:03] jordwalke commented on #27
Here's what will work best:
(You have to make sure it only ever runs in the nerd tree syntax highlighting - not other panes).

    " Replace any `[` or `]` with underscore.
    " We'll hide the underscores anyways.
    syntax match hideBracketsInNerdTree "[\]|\[]*" conceal cchar=_

   " Must be completely hidden otherwise cursorline doesn't highlight the concealed bg color correctly.
   set concea

[2015-04-05 21:13] jordwalke commented on #27
Looks like just placing all that above code in the `NERDTreeWebDevIconsRefreshListener` method works. It also doesn't seem to interfere with other buffers that have conceal since conceal settings seem to be per buffer.

[2015-04-06 15:03] ryanoasis commented on #27
:smile: Great sounds like you have probably the best solution. Do you want to submit a PR ? If not I will eventually get to making your changes myself (just might take a little longer that way)

[2015-04-06 21:10] jordwalke commented on #27
See my note, it didn't work and I don't understand Vim plugin architecture well enough.

[2015-04-06 22:19] ryanoasis commented on #27
Ah okay no problem. What you have given me is good info to make an attempt, so stay tuned :+1:

[2015-04-06 23:20] jordwalke commented on #27
:+1:

[2015-04-11 04:02] ryanoasis opened #29 "Add vimdoc"
Generate from readme

[2015-04-11 04:30] ryanoasis opened #30 "Improve vim standard plugin conventions and tips"
- make sure using local/script level vars and methods unless have to be global
- line continuation side effect
- comment folds: use fold markers in the source
[code]
http://vimdoc.sourceforge.net/htmldoc/fold.html
http://vimdoc.sourceforge.net/htmldoc/usr_41.html#write-plugin

[2015-04-11 12:25] ryanoasis commented on #28
I have a fix coming for this but it involved more changes than I initially thought. This is currently broken and does not work from `vimrc`

If you happen to use gui vim it **is** however working, then you can try setting in `gvimrc`

[2015-04-11 19:40] AnthonyBobsin commented on #7
This would be great, as I can't seem to be able to get these icons working on console vim for os x.

[2015-04-11 21:20] AnthonyBobsin opened #31 "Console vim glyph defaults to single width and can't set to double."
I'm using console vim and the glyphs in NERDTree default to single width. I am unable to set it to double width even with confirming WebDevIconsUnicodeGlyphDoubleWidth is set to 1. There is still the empty space before the closing bracket. Not sure if console vim is just unable to have double width or not.

[2015-04-11 21:32] ryanoasis commented on #31
It might be the font you are using. Did you set your terminal to the double width glyph variant?

Which font from: https://github.com/ryanoasis/nerd-filetype-glyphs-fonts-patcher ?

[2015-04-11 21:36] AnthonyBobsin commented on #31
I am using the Sauce Code one, but I realized I am using the monospaced. That might be restricting the glyphs as well?

[2015-04-11 21:39] AnthonyBobsin commented on #31
Just tried the non-monospaced and it works perfectly now, thanks for your help! If you don't mind, I was also curious on how to use the second set of glyphs.

[2015-04-11 21:46] ryanoasis commented on #31
Great! No problem :smile:

Yeah all WebDevIconsUnicodeGlyphDoubleWidth Does right now is tell whether or not to add an extra space for when the font is likely using double width glyphs, it does not adjust the font or anything. I should probably clarify that more in the readme.

Oh the second set: those are just included in the font and I believe I only use a few of them on the plugin currently, bu

[2015-04-11 21:55] ryanoasis commented on #7
I will even take screenshots :smile_cat:

[2015-04-11 21:55] AnthonyBobsin commented on #31
Sounds great, I will read the docs and look into extending my preferences on glyphs. Thanks again for the help, and I love what you're doing with this repo by the way, excellent job!

[2015-04-11 22:08] #31 closed

[2015-04-12 12:49] ryanoasis opened #32 "osx screenshots"

[2015-04-12 19:09] ryanoasis commented on #30
fixed with v0.4.0 release

[2015-04-12 19:09] #30 closed

[2015-04-12 19:10] ryanoasis commented on #29
fixed with v0.4.0 release

[2015-04-12 19:10] #29 closed

[2015-04-12 19:10] ryanoasis commented on #28
fixed with v0.4.0 release

[2015-04-12 19:10] #28 closed

[2015-04-12 19:10] ryanoasis commented on #27
fixed with v0.4.0 release

[2015-04-12 19:10] #27 closed

[2015-04-12 19:10] ryanoasis commented on #26
fixed with v0.4.0 release

[2015-04-12 19:10] #26 closed

[2015-04-12 19:11] ryanoasis commented on #14
fixed with v0.4.0 release

[2015-04-12 19:11] #14 closed

[2015-04-12 23:03] jordwalke commented on #27
:+1:

[2015-04-12 23:20] jordwalke opened #33 "Newly added files do not have icons next to them until refreshing nerd tree."
If you add new files through NERDTree (press m then a) the newly added files do not have icons next to them.

[2015-04-12 23:25] ryanoasis commented on #33
:+1:  Ah, I have seen this before and I never put a ticket. At least I think it is pre-existing v0.4.0 so I am glad I didn't break that

[2015-04-13 11:12] ryanoasis opened #34 "Add quick setup (TLDR) section"
Add quick setup (TLDR) section to readme

[2015-04-14 14:22] #34 closed

[2015-04-14 22:57] valir opened #36 "Icons not showing in vim under urxvt"
Using urxvt-256color and vim on archlinux.

Font setting in ~/.Xresources
URxvt.font: xft:Droid Sans Mono for Powerline Plus Nerd File Types:size=11
URxvt.boldFont: xft:Droid Sans Mono for Powerline Plus Nerd File Types:bold:size=11

I downloaded your patched font under ~/.fonts
xset q confirms ~/.fonts is searched

:echo g:WebDevIconsUnicodeDecorateFileNodesDefaultSymbol
displays a small rectangl

[2015-04-14 23:21] ryanoasis commented on #36
@valir it looks to me like you are not using the _"mono"_ versionof Droid Sans (which is needed to work in urxvt). The one you want has "mono" in the name twice :stuck_out_tongue: :

`Droid Sans Mono for Powerline Plus Nerd File Types Mono`
instead of
~~`Droid Sans Mono for Powerline Plus Nerd File Types`~~

Sorry for the confusion, naming pattern could probably use some improvement.

Here is what

[2015-04-15 06:59] valir commented on #36
Right, using the Mono version fixes the issue. Thanks!

[2015-04-15 06:59] #36 closed

[2015-04-16 07:52] bdryanovski opened #37 "g:webdevicons_conceal_nerdtree_brackets"
By setting `g:webdevicons_conceal_nerdtree_brackets` to `1` hide `null` text in all buffers/windows/tabs everywhere.

`let g:webdevicons_conceal_nerdtree_brackets = 1`
![screen shot 2015-04-16 at 10 50 40](https://cloud.githubusercontent.com/assets/204564/7176384/8f02e272-e426-11e4-9ca6-6b1f29f4ea95.png)

`let g:webdevicons_conceal_nerdtree_brackets = 0`
![screen shot 2015-04-16 at 10 51 15](https

[2015-04-16 12:12] ryanoasis commented on #37
Uh oh, thats not good. I will try to look into this today. Thanks and sorry about that :stuck_out_tongue:

[2015-04-16 13:57] ryanoasis commented on #37
Hmm I am so far unable to replicate. Looks like `function` is also being affected. My guess is there is another syntax using conceal and there is a conflict or something.

![selection_16_04_15_09 48 35_527x630_001](https://cloud.githubusercontent.com/assets/8083459/7182354/c441ca5a-e41e-11e4-927e-24183cf13b06.png)

I tried debugging my setup with: http://vim.wikia.com/wiki/Identify_the_syntax_high

[2015-04-16 14:08] bdryanovski commented on #37
Hi,
It's ok I found it by chance.

* You could see my Vim setup here [Github](https://github.com/bdryanovski/vimrc)
* Yep it's gVim on MacOS
* No need to open NerdTree

I will try to debug it a bit later today or tomorrow

For the moment I think that the issue is comming from here:
[code]

[2015-04-16 14:10] ryanoasis commented on #37
Ahha! I *do* see it now.

I had to do a plugin update, seems like something has changed on https://github.com/pangloss/vim-javascript

I was actually quite a bit far behind (I had yet to clean-up my contrib branch from vim plugins):
`
[2015-04-16 10:03:12] Plugin pangloss/vim-javascript
[2015-04-16 10:03:12] $ cd '/home/ryan/.vim/bundle/vim-javascript' && git pull && git submodule update --init --

[2015-04-16 14:12] ryanoasis commented on #37
@bdryanovski Yep that is a recent code addition to hide brackets on nerdtree... and for *me* it _was_ working prior to updating my version of `pangloss/vim-javascript`

[2015-04-16 14:13] bdryanovski commented on #37
I didn't even notice that `pangloss/vim-javascript` had e updated - nice to know.

[2015-04-16 14:25] ryanoasis commented on #37
Oh okay yep.

Well I think I actually have a fix, but I need to do some more testing:
[code]

[2015-04-17 01:10] ryanoasis opened #39 "Fix and update nerdtree screenshots"
Fix and update nerdtree screenshots
* showing old markdown override 'M'
* showing all test cases - just show the interesting ones
* perhaps update the different terminal screenshots

[2015-04-18 02:27] obxhdx commented on #26
Hi, where can I get a supported version of NERDTree?

I'm using the HEAD revision from [scrooloose/nerdtree](https://github.com/scrooloose/nerdtree) and `echo exists("g:NERDTreePathNotifier")` outputs `1`.

But after v0.4.0 release, when I open Vim, I see this message: `vim-webdevicons requires a newer version of NERDTree to show glyphs in NERDTree - consider updating NERDTree`.

[2015-04-18 02:31] obxhdx commented on #26
Oh, and if I revert 36f0041 and 3afa92b, everything works fine.

[2015-04-18 02:42] ryanoasis commented on #26
Yep it sounds like you have the latest nerdtree. The old version detection logic sounds like it might be flawed but I haven't seen the message myself.

I will look into this more, thanks :+1:

[2015-04-19 23:15] #37 closed

[2015-04-19 23:15] #39 closed

[2015-04-20 09:22] punknroll opened #40 "Quotes are concealed in json files"
When I open a .json file with some some quotes are concealed

![conceal](https://cloud.githubusercontent.com/assets/361815/7227220/62b1f812-e74f-11e4-987b-169d0c569e75.png)

You can fix it with this setting
let g:webdevicons_conceal_nerdtree_brackets=0

greetz

[2015-04-20 11:40] timhughes opened #41 "No such event: nerdtree syntax match hideBracketsInNerdTree"
I setup vim-webdevicons last week on another machine and it is working ok. Today I setup my work machine and I cannot get it working. Both the same version of Fedora with latest patches  and I use the same vimrc on both. The only thing different is that I installed vim-webdevicons on different dates. I think maybe it is something to do with commit 203779db

[code]

Here is my vimrc.
[code]

All my

[2015-04-20 12:12] ryanoasis commented on #40
can you tell me which version you have?

`echo webdevicons#version()`

[2015-04-20 12:12] timhughes commented on #41
If i set the following in my vimrc it works

let g:webdevicons_conceal_nerdtree_brackets = 0

[2015-04-20 12:32] ryanoasis commented on #41
Uh oh more conceal issues :disappointed:

Looks like you have a very similar version to me.

Can you check it was compiled with the conceal option?
`vim --version | grep conceal`

[2015-04-20 12:37] ryanoasis commented on #41
I will test out your config to see if I can replicate

[2015-04-20 12:50] timhughes commented on #41
I am on up to date Fedora 21
[code]

[2015-04-20 12:58] ryanoasis commented on #41
Thanks I will see if I can replicate and get back to you

[2015-04-20 14:01] punknroll commented on #40
0.4.0
I installed it via NeoBundle.

[2015-04-20 14:05] ryanoasis commented on #40
can you try to update?

this issue should be fixed in 0.4.1

Let me know either way if that solves your problem (without having to disable the conceal feature)

[2015-04-20 14:12] punknroll commented on #40
hmm...after :NeoBundleUpdate! I still have version 0.4.0.

[2015-04-20 15:17] punknroll commented on #40
I switched to master branch and the issue is gone. Thanx for your help.

[2015-04-20 15:17] #40 closed

[2015-04-20 18:09] ryanoasis commented on #40
@punknroll :+1: no problem. Glad that was the fix :smile:

[2015-04-22 14:59] ryanoasis commented on #41
This is weird. I did not patch the font but I am not getting the error messages you got.

This is my test in Fedora 21 (on VirtualBox):
![selection_22_04_15_10 50 25_1018x662_001](https://cloud.githubusercontent.com/assets/8083459/7277549/a095964e-e8de-11e4-8396-6168c22066d0.png)

Searching brought me to a possibly related issue: https://github.com/justinmk/vim-sneak/issues/36

Perhaps test with:

[2015-04-25 04:40] nbicalcarata commented on #41
I'm having exactly the same problem on Fedora 21 and latest Vim, on Neovim its working without issues

[2015-04-29 08:54] jordwalke opened #42 "Square brackets are back."
I cannot explain when this happens exactly, but sometimes the square brackets around the icons resurface! Have you noticed this?

[2015-04-29 09:06] jordwalke commented on #42
FWIW, I use this plugin - https://github.com/jistr/vim-nerdtree-tabs
I'm not sure if it's relevant, but either way it's a great plugin and you might want to check it out. I know it does do some refreshing across tabs to ensure everything remains in-sync. That could be related to the fact that the square brackets are returning.

[2015-04-29 11:18] ryanoasis commented on #42
Thamks I will check that one out and see if there are issues :+1:

[2015-05-01 08:29] jordwalke commented on #42
I notice it happens when I open a file from the nerd tree.

[2015-05-01 08:49] jordwalke commented on #42
Actually, not just when I open a file from the nerd tree, but when I open some specific file extensions (even with an `:e myFile.extension` command) it makes all the icons have square brackets again!

[2015-05-01 16:20] nobleach opened #44 "Broken in newest NerdTree"
As of the May 1st update to NerdTree, I get this error:
![screenshot 2015-05-01 10 19 30](https://cloud.githubusercontent.com/assets/217134/7433151/aa2fee70-efeb-11e4-923d-e2baa08f8470.png)

[2015-05-01 16:41] ryanoasis commented on #44
Hey, this doesn't seem to be a problem with latest nerdtree.

I just replicated this but I had to load webdevicons before nerdtree.

Can you try to move the plugin load of vim-webdevicons to be *after* nerdtree ?

Even if that fixes it I believe I need to adjust that logic that does the feature check if possible

[2015-05-01 16:44] nobleach commented on #44
Yep, you are correct. I moved NerdTree up, and it's good to go. Thanks!

[2015-05-01 16:44] #44 closed

[2015-05-01 16:53] ryanoasis commented on #44
:+1:  glad that was it. No problem!

[2015-05-04 01:04] blueyed commented on #42
Can you check if the settings are applied in the NERDTree buffer?
https://github.com/ryanoasis/vim-webdevicons/blob/5f4e194dc628f6bb16a23b64f595a42bf8bcad04/plugin/webdevicons.vim#L186-L192

[2015-05-04 03:02] jordwalke commented on #42
Looks like the file type `indent` plugin had the following:

    syntax enable

I don't know why that was causing problems but when I commented it out, it fixed the problem

[2015-05-04 07:47] jordwalke commented on #42
Closing but it would be nice to know why this happens.

[2015-05-04 07:47] #42 closed

[2015-05-04 07:52] blueyed commented on #42
Which file had it?

[2015-05-04 11:08] ryanoasis commented on #42
Nice glad you found a fix but it would be nice to know the exact file to try to fix this.

I was unable to replicate before

[2015-05-04 21:21] jordwalke commented on #42
It was in a custom plugin that I was writing.

[2015-05-12 04:59] cj opened #49 "colors in terminal?"
First off, thanks for this plugin!  Question, is there something special I have to do to enable colors per file type?

![](http://i.imgur.com/ISnVwvC.png)

[2015-05-12 05:10] cj commented on #49
forgot to mention I have included your version of https://github.com/scrooloose/nerdtree/issues/201#issuecomment-9954740

[2015-05-13 00:43] ryanoasis commented on #49
@cj can you try `FileType` instead of `filetype`?

see@nbicalcarata comment on https://github.com/scrooloose/nerdtree/issues/433#issuecomment-100789323

[2015-05-13 12:58] ryanoasis commented on #41
@timhughes can you try replacing `filetype` with `FileType` and see if that solves it for you? Or you can wait for https://github.com/ryanoasis/vim-webdevicons/milestones/v0.4.2

@nbicalcarata I will try to get #47 in soon thanks

[2015-05-13 15:10] cj commented on #49
@ryanoasis still no luck changing it to `FileType`.  I'm not getting any errors either...

[2015-05-13 15:13] cj commented on #49
Here's my vim config github.com/cj/vimrc

[2015-05-13 17:30] cj commented on #49
doing this seems to make it work:

[code]

[2015-05-16 14:03] ryanoasis commented on #49
That's strange but I guess you got it working. for now I will reference your fix in the FAQ and close this issue when I have pushed it up. Thanks!

[2015-05-16 14:21] #41 closed

[2015-05-16 14:21] #49 closed

[2015-05-16 14:26] #7 closed

[2015-05-16 16:29] ryanoasis opened #50 "windows screenshots"

[2015-05-16 16:54] ryanoasis opened #51 "Get changelog up to date"
Changelog has fallen behind

[2015-05-19 03:04] DemonCloud opened #52 "ICON width issue?"
![bugfix](https://cloud.githubusercontent.com/assets/7436361/7694658/f128439e-fe15-11e4-94df-352e2f30fec3.png)

System   :  Ubuntu Kylin 15.04
Software :  Gvim 7.4
Bundle    :  Vundle
Fonts      :  DejaVu Sans Mono for Powerline Plus Nerd File Types Mono 10

and other font get same issue too~

after I update my Nerdtree plugin.
may I upload my .vimrc file ?

-- download the picture and rename to [

[2015-05-20 02:48] ryanoasis commented on #52
Thanks, saw your vimrc. I will check it out.

Whats with the gray highlighting or is that part of the issue?

[2015-05-20 02:55] DemonCloud commented on #52
@ryanoasis

there is  a space between ICON and FILENAME.

The color scheme name is [ hybrid ] .. other themes also make same issue.

[2015-05-21 03:13] ryanoasis commented on #52
@DemonCloud I still haven't looked at this yet but for now you could try adjusting this setting:

[code]

[2015-05-21 10:30] stuartmemo opened #53 "Grey space after Icon"
Hey, great plugin! I'm having a little problem where the space inbetween the icon and the label has a grey background. This is probably some colour setting, but I've no idea what to set to change it. Any ideas?

Thanks!

![screen shot 2015-05-21 at 11 23 06](https://cloud.githubusercontent.com/assets/59205/7746736/bbc23712-ffac-11e4-98de-eb5765fd69fa.png)

[2015-05-21 11:33] ryanoasis commented on #53
I've seen something like this going on in #52 as well.

Can you try to see if setting the follows has any effect on the color:
[code]

It might be helpful to debug that specific column: http://vim.wikia.com/wiki/Identify_the_syntax_highlighting_group_used_at_the_cursor

If you can send or show your `vimrc` I can also try to replicate

Thanks

[2015-05-21 12:18] stuartmemo commented on #53
So the brackets thing removed the colour and I ended up with this.
![screen shot 2015-05-21 at 13 12 30](https://cloud.githubusercontent.com/assets/59205/7748362/a586105e-ffbb-11e4-9aa0-c1e31ca07be6.png)

Using that link you gave me, the cursor says...
`hi<hideBracketsInNerdTree> trans<hideBracketsInNerdTree> lo<hideBracketsInNerdTree>`
That mean anything to you?

My `vimrc` is [here](https://gith

[2015-05-22 12:10] ryanoasis commented on #53
No problem. There is definitely something going on here. I guess for now that is a workaround but I feel like this is very much solvable (either by me or someone else).

The output doesn't mean too much to me yet but definitely seems to have to do with the custom bracket hide syntax.

Thanks for the vimrc link, I will see what I can do to replicate and hopefully fix.

[2015-05-23 04:00] premjg opened #54 "support unite.vim?"
https://github.com/Shougo/unite.vim

Unite is gaining popularity and looks like the API is pretty streamlined.
It'd would great to have vim-devicons working with Unite.

[2015-05-23 13:29] ryanoasis commented on #54
That's a good idea. No current plans but maybe if there is enough request for this.

I had briefly looked into adding something for `ctrlp.vim` because that is what I use but I know a lot of people also use 'unite.vim` so it could be worth it.

[2015-05-23 13:29] ryanoasis opened #55 "support Unite?"
https://github.com/ryanoasis/vim-webdevicons/issues/54

[2015-05-23 13:31] ryanoasis commented on #54
Was curious about setting up a poll, I didn't realize this one adds a new issue :stuck_out_tongue_closed_eyes:

http://poll.gitrun.com/ryanoasis/vim-webdevicons/issues/55

[2015-05-23 13:31] ryanoasis commented on #55
vote: http://poll.gitrun.com/ryanoasis/vim-webdevicons/issues/55

[2015-05-23 13:34] ryanoasis opened #56 "support ctrlp.vim?"
support ctrlp.vim - add icons to mru and various lists ?

[2015-05-23 13:35] ryanoasis commented on #56
http://poll.gitrun.com/ryanoasis/vim-webdevicons/issues/56

[2015-05-23 13:39] ryanoasis commented on #55
Lets use the original ticket from @premjg: http://poll.gitrun.com/ryanoasis/vim-webdevicons/issues/54

[2015-05-23 13:39] #55 closed

[2015-05-27 13:22] timhughes commented on #41
Thanks , that fixed it for me too

[2015-05-30 18:00] #51 closed

[2015-05-30 23:46] DemonCloud opened #57 "Would you add this 3270 terminal fonts.. Please~"
https://github.com/rbanffy/3270font

you can down loadit~

nice programming fonts~

[2015-06-01 11:43] ryanoasis commented on #57
Sure, license looks acceptable to attempt to patch

[2015-06-02 22:56] ryanoasis commented on #53
@stuartmemo can you tell me if it is the same regardless of `vim` or `gvim` ? And which are the screenshots from?

Sorry but also can you tell me the exact font you are using?

I tested with your `vimrc` even after installing the same plugins. I tested with Droid Sans patched and Droid Sans (true Mono) patched and could not replicate :disappointed:

![selection_02_06_15_18 48 57_1018x742_001](http

[2015-06-02 23:04] ryanoasis commented on #53
@stuartmemo My bad! I just got this issue. I was only doing `PluginInstall` instead of `PluginUpdate` so when updated to version 4.0.2 I can now see the issue!

![selection_02_06_15_19 04 39_202x218_001](https://cloud.githubusercontent.com/assets/8083459/7949267/3b8c68d0-095a-11e5-811c-77d652fb6fd9.png)

[2015-06-02 23:19] ryanoasis commented on #53
I had a few hunches and I think I have a fix for this but not really 100% sure why it fixes it

Changing this:
[code]
to:
[code]

seems to solve the issue. From what I understand though not explicitly setting the `cchar` sets it to a space by default

[2015-06-03 09:56] stuartmemo commented on #53
Ah, amazing! That worked a treat.

The icons are quite tight with the text though now, it was quite nice having a bit more space. I know, never happy :frog:

![screen shot 2015-06-03 at 10 50 51](https://cloud.githubusercontent.com/assets/59205/7957428/398c01aa-09df-11e5-8d86-bf1e3de21ef8.png)

[2015-06-03 12:39] ryanoasis commented on #53
@stuartmemo

1. Great to know it worked for you as well.

2. About the tightness that is actually configurable :wink:

Per the readme:
the amount of space to use after the glyph character (default ' ')
[code]

[2015-06-03 12:46] ryanoasis commented on #52
@DemonCloud can you see if this solution fixes your issue: https://github.com/ryanoasis/vim-webdevicons/issues/53#issuecomment-108127414

[2015-06-03 13:44] DemonCloud commented on #52
@ryanoasis  Yeah. I get it now

[2015-06-03 13:54] DemonCloud commented on #57
@ryanoasis
T_T
I don't know how to patch the font ~

May be only I can introduce the fonts to you...
http://tobiasjung.name/profont/

Really small programming font

[2015-06-03 14:08] stuartmemo commented on #53
@ryanoasis You rule the school. Thank you so much.

[2015-06-03 14:50] ryanoasis commented on #57
@DemonCloud I can patch it unless you want to.

Just so you know, to patch: https://github.com/ryanoasis/nerd-filetype-glyphs-fonts-patcher

Both of these you have mentioned seem to have licenses that allow patching so we are good on the legal part looks like

[2015-06-05 12:53] kristijanhusak commented on #53
Hi,

I'm having the same bug. It is caused by `Conceal` highlighting in the color scheme.

Adding
[code]
To vimrc solves the issue.

[2015-06-05 13:22] kristijanhusak opened #58 "Gvim nerdtree redraw on folder open"
Hi,

I have a bug, that probably can not be fixed, or it's not related to this plugin, but i'll post it here because i noticed it when i installed this. When i open nerdtree, icons are there, but when i open subfolder, beside icon for filetype, i get strange overlaps with other icons:

![nerdtree-webdevicons-bug](https://cloud.githubusercontent.com/assets/1782860/8006611/da174096-0b95-11e5-8580-55

[2015-06-05 22:37] ryanoasis commented on #58
@kristijanhusak Sorry and thanks I will try to replicate it. What patched font are you using btw ?

[2015-06-05 22:57] ryanoasis commented on #57
@DemonCloud working on patching these fonts and even some more fonts soon after that

[2015-06-06 05:21] ZzAntares opened #59 "Can't see directory node icon in NERDTree"
Hello, I've installed vim-webdevicons successfully (I think), but now I can not change the NerdTree symbol, because the one appearing by default is ugly (and it looks is cut):

![screen shot 2015-06-06 at 00 11 41](https://cloud.githubusercontent.com/assets/3653680/8018430/def35abe-0be0-11e5-86e4-4d11f66553f0.png)

I've tried with this settings in my vimrc , but they have no effect:

[code]

What

[2015-06-06 12:55] ryanoasis commented on #59
Thanks there are other reports of glyphs being cut off I will have to look into.

You can try to see if increasing the padding helps:
[code]

As for the folder glyph not showing my suspicion is that I did not add it explicitly to the set of new glyphs but rather I chose the folder glyph arbitrarily from a font but it probably doesn't exist in all (including the one you tried)

[2015-06-06 13:04] ryanoasis commented on #53
@kristijanhusak Thanks, yeah I believe the `autocmd` change will fix it. Just to confirm did the `autocmd` change I posted work for you?

If not I will at least add your fix as a possibility on the readme.

[2015-06-06 17:29] kristijanhusak commented on #58
@ryanoasis i'm using inconsolata, downloaded it from that repo with already patched fonts.
Thanks. Great plugin btw, it really modernizes the vim :-)

[2015-06-06 17:32] kristijanhusak commented on #53
@ryanoasis Yes, autocmd works for me, and as i said, it's better solution because of colors with cursorline.
You could add it if you want as an alternative solution, if autocmd does not work for someone.

[2015-06-07 03:21] zaferot opened #60 "Perl support"
Hi!
Is it possible to support Perl?

[2015-06-07 12:56] ryanoasis commented on #60
Yes, good suggestion. It should be very easy since the glyph is already there.

I think I will also add: `rss`, `clojure`, `F#`, `rust`, `D`, `Erlang`, `Vim script`

[2015-06-07 13:58] ryanoasis opened #61 "Support frameworks"
Support various frameworks with exact matches and add new partial regex matches

E.g.
[code]

[2015-06-07 14:07] zaferot commented on #60
Great! Thanks!

[2015-06-07 21:50] ryanoasis opened #62 "Better support with nerdtree-git-plugin flags"
Better support with: https://github.com/Xuyuanp/nerdtree-git-plugin

![selection_07_06_15_17 49 31_249x196_001](https://cloud.githubusercontent.com/assets/8083459/8026259/97bfc520-0d3d-11e5-927a-e16e6b047db0.png)

[2015-06-08 03:13] alxdnlnko commented on #58
+1, got the same artifacts
when open subfolder
![](http://rb14.reliablehosting.com/screens/2015-06-08--1433732694_159x182_scrot.png)

when close nerd-tree
![](http://rb14.reliablehosting.com/screens/2015-06-08--1433732806_98x214_scrot.png)

[2015-06-08 11:22] ryanoasis commented on #58
@alxdnlnko Does this only occur in gvim and not vim for you as well?

[2015-06-08 12:00] alxdnlnko commented on #58
@ryanoasis only in Gvim

[2015-06-08 13:16] ryanoasis opened #64 "Rename project: vim-webdevicons to vim-devicons ?"
Rename project: vim-webdevicons to vim-devicons ?

Reasoning - icons are not web development specific and this name would now more accurately match the intended scope.

Any thoughts?

Vote: http://poll.gitrun.com/ryanoasis/vim-webdevicons/issues/64

[2015-06-08 22:11] ryanoasis commented on #58
@alxdnlnko , @kristijanhusak

1. can you see if the artifacts go away with:
[code]
2. can you see if the artifacts stop appearing with the following set in your vimrc:
[code]

I **was** able to replicate this issue after all, so far at least it seems to be the combination of gvim and conceal. There is probably more to it but it seems like a `redraw` call on NERDTree refresh when in gvim might be a

[2015-06-09 00:20] alxdnlnko commented on #58
@ryanoasis
1. yes, `:redraw!` helps
2. `let g:webdevicons_conceal_nerdtree_brackets = 0` it doesn't help, when you open more than one levels at once:
http://rb14.reliablehosting.com/screens/2015-06-09--1433808978_173x573_scrot.png

The problem is that nerd-tree doesn't redraw the whole line. Maybe you should add a `:redraw!` as a stopgap measure, and create an issue in nerd-tree?

[2015-06-09 07:24] kristijanhusak commented on #58
@ryanoasis
Confirming that `:redraw` works, and `let g:webdevicons_conceal_nerdtree_brackets = 0` not working.

[2015-06-09 11:51] ryanoasis opened #65 "Add vimrc setup example to readme"
Add vimrc setup example to readme

Link to wiki?

[2015-06-09 12:38] ryanoasis commented on #33
@jordwalke
Sorry I keep pushing this off but bugs and easier fixes come up. I actually did delve into this but got a bit stuck, I might even need to submit a PR for NERDTree itself for listener on new nodes

[2015-06-11 17:49] ryanoasis commented on #58
@kristijanhusak , @alxdnlnko

I had a hard time auto executing `:redraw!` at a point where it would help (hard to detect directory open/close) and also it seemed like it would be a bit slow.

However after even more testing I discovered there is some problem with the **glyphs** themselves. E.g. if you changed all the default mappings in your `vimrc` to say 'A' or something the problem goes away. W

[2015-06-11 19:57] kristijanhusak commented on #58
@ryanoasis
I tested it out. It is **much** better! It's working almost perfect. I just noticed when going up from child folder to parent with `u`, some icons are overlapped with some character, not sure if it's same for all.
(Go to folder with `C`, and then go back with `u`).

Here's the version **with overlapped character**:
![with-overlapped-char](https://cloud.githubusercontent.com/assets/17828

[2015-06-11 21:06] ryanoasis commented on #58
@kristijanhusak
Hmm I was going to ask you for a screencast of the issue but I **just** replicated it but in a different way. For me it was just `C` on a folder with all files and no sub-directories.

Seems like `o` works fine but changing the current directory and making it the new root `C` is causing problems.

![screencast_11-jun-2015-05 04 38](https://cloud.githubusercontent.com/assets/8083459

[2015-06-11 21:18] kristijanhusak commented on #58
Yes, `o` works fine for me also, only root changing causes the problem.
If you can add the fix, it's much better anyway, because icons are not overlapping on sides.

[2015-06-11 21:28] ryanoasis commented on #58
@kristijanhusak, Yep it is an improvement at least like you said. I think what I will do is push up the improvement but leave this open at least make some small attempts to fix the other scenarios

[2015-06-12 07:19] kristijanhusak commented on #58
@ryanoasis Ok, great! Thanks!

[2015-06-12 17:40] ryanoasis opened #66 "Support file format symbols (glyphs) in vim-airline"
```vim```
echo &fileformats
[code]
unix,dos,mac
[code]

[2015-06-12 19:48] ryanoasis commented on #52
@DemonCloud This is pretty much done and fixed just want to do a bit more testing before releasing. If you would like to check this out on [branch 0.4.3](https://github.com/ryanoasis/vim-webdevicons/tree/0.4.3) I would be grateful

[2015-06-12 19:50] ryanoasis commented on #58
@kristijanhusak, @alxdnlnko This is pretty much done and fixed just want to do a bit more testing before releasing.

Even the key mappings with the issues *should* work

If either of you would like to check this out: [branch 0.4.3](https://github.com/ryanoasis/vim-webdevicons/tree/0.4.3)

[2015-06-12 20:07] kristijanhusak commented on #58
@ryanoasis

This problem is solved with this, but some other appeared. Screen is redrawing on every move (horizontal, vertical) when NERDTree is closed, which causes flickering. Would not recommend leaving that behavior.

Also, spacing between icons and text in nerdtree is a bit too big for my taste:
![icons-spacing](https://cloud.githubusercontent.com/assets/1782860/8138891/5dd18cfc-114f-11e5-808

[2015-06-12 20:35] ryanoasis commented on #58
@kristijanhusak I didn't notice any flickering but I will look more closely thanks!

For the spacing you can adjust that:
[code]

I think a separate fix I adjusted the default yet again (because of the conceallevel)

[2015-06-12 20:42] kristijanhusak commented on #58
@ryanoasis
Here's the short gif. Not the best quality, but I think it is visible enough.
![ezgif com-resize](https://cloud.githubusercontent.com/assets/1782860/8139461/3f390388-1154-11e5-887a-e77a46b1faef.gif)

[2015-06-13 00:04] ryanoasis commented on #58
@kristijanhusak Great thanks for the gif, yeah that is **really** bad. Hopefully I can track down the `redraw!` that I added which is causing this. Might be the one for the filetype glyph in the statusline but we'll see

[2015-06-13 01:26] DemonCloud commented on #52
@ryanoasis
How I config the vimrc file . I was getting same issue with ``PluginUpdate``

Please see this picture and how do I highlight the gray line
![bug](https://cloud.githubusercontent.com/assets/7436361/8142407/3addc0f8-11ae-11e5-8e85-58724bee4169.png)

[2015-06-13 01:32] DemonCloud commented on #52
I fix the Problem with
``autocmd FileType nerdtree syntax match hideBracketsInNerdTree "\]" contained conceal containedin=AL``

[2015-06-13 02:18] #52 closed

[2015-06-14 11:05] majjoha opened #67 "Unknown function when opening Vim"
After installing this plugin, I started receiving the following error message when opening Vim:

[code]

I use [lightline.vim](https://github.com/itchyny/lightline.vim) rather than vim-airline, so I guess it makes sense that it cannot find the function.

[2015-06-14 11:49] ryanoasis commented on #67
It looks like I do not check for that functions existence. Should be an easy fix.

For now, as a work-around, setting this in your `vimrc` should help:

[code]

[2015-06-14 12:02] majjoha commented on #67
Cool. It seems to resolve the issue.

[2015-06-15 13:46] hoop33 commented on #64
+1

[2015-06-15 18:28] #58 closed

[2015-06-15 18:28] #62 closed

[2015-06-15 18:28] #66 closed

[2015-06-15 18:28] #67 closed

[2015-06-15 18:30] ryanoasis commented on #65
fixed/completed with latest release

[2015-06-15 18:31] #65 closed

[2015-06-15 18:31] ryanoasis commented on #53
fixed/completed with latest release

[2015-06-15 18:31] #53 closed

[2015-06-15 18:31] ryanoasis commented on #50
completed with latest release

[2015-06-15 18:31] #50 closed

[2015-06-15 22:23] ZzAntares commented on #59
Hello, adding `let g:WebDevIconsNerdTreeAfterGlyphPadding = '  '` works, but the folder icon is not showing, but I think that's my issue, I patched Monaco font, but the one I was using was Monaco for Powerline (previously patched by me for using with airline), I think I need to patch that new font instead of the original. Later I will try.

Thanks.

[2015-06-16 11:35] ryanoasis commented on #59
@ZzAntares , oh okay. Let me know if that works for you.

The font patcher I made should have put the folder glyph as well so that is odd.

[2015-06-16 23:05] ryanoasis commented on #60
Work in progress preview:
![selection_16_06_15_19 04 52_457x34_001](https://cloud.githubusercontent.com/assets/8083459/8196496/98b1ef52-145a-11e5-8ef5-45ead2d282e5.png)

[2015-06-16 23:07] ryanoasis commented on #61
The pattern matching should be easy for v0.5.0 as long as I can fix some glyph scaling issues, preview:

![selection_16_06_15_19 06 17_378x286_001](https://cloud.githubusercontent.com/assets/8083459/8196516/d0804366-145a-11e5-928f-bf9cf08cd110.png)

Identifying libraries based on folder structure will be a bit more work and maybe should go after v0.5.0

[2015-06-17 17:34] adambiggs commented on #64
+1

[2015-06-17 17:35] adambiggs commented on #56
+1

[2015-06-17 17:46] cnicolov commented on #64
+1

[2015-06-17 17:56] cnicolov commented on #56
+1

[2015-06-18 00:36] DemonCloud commented on #64
+1

[2015-06-18 06:47] SageEx opened #69 "Some airline variables are not working"
I have disabled file encoding information in airline by modifying g:airline_section_y by
let g:airline_section_y = '%{getcwd()}'
But after installing vim-webdevicons this variable no longer works.
Before
![screenshot from 2015-06-18 12-12-20](https://cloud.githubusercontent.com/assets/7141867/8225512/4cf54d16-15b3-11e5-8412-703b2552d55e.png)

After installing vim-webdevicons
![screenshot from 2015

[2015-06-18 06:49] SageEx commented on #56
+1

[2015-06-18 06:49] SageEx commented on #64
+1

[2015-06-18 10:55] ryanoasis commented on #69
Can you try setting this in your `vimrc`:
[code]

By default I override that section which maybe isn't the best thing to do.

[2015-06-18 14:47] DemonCloud commented on #54
Support it you would also support the Vimfiler.vim

[2015-06-18 23:44] ryanoasis commented on #56
This is gonna take some work to do properly and I hope it isn't too bad. So far all I have been able to do is modify ctrlp code directly:

![selection_18_06_15_19 42 18_819x143_001](https://cloud.githubusercontent.com/assets/8083459/8244729/6fb99520-15f2-11e5-815f-b8fb5a5b880b.png)

I want to eventually be able to obviously do it a proper way and also to avoid a PR

[2015-06-18 23:48] ryanoasis commented on #54
Going to try this when I get time: https://github.com/Shougo/unite.vim/issues/412

[2015-06-19 15:33] SageEx commented on #69
Thanks, this works.
Thanks a lot for this plugin.

[2015-06-19 15:33] #69 closed

[2015-06-19 18:00] ryanoasis commented on #69
@SageEx no problem. Glad that fixed it for you.

[2015-06-19 19:41] ryanoasis commented on #54
Unite luckily seems pretty easy to implement :disappointed_relieved:

![selection_19_06_15_15 39 26_964x264_001](https://cloud.githubusercontent.com/assets/8083459/8261574/9785b190-1699-11e5-8865-0d44b0c8533c.png)

But I might to ask for help on Vimfiler from

[2015-06-20 15:08] ryanoasis opened #70 "support vim-flagship (because it is easy)"
support https://github.com/tpope/vim-flagship

![Image of testing support for vim-flagship](https://lh3.googleusercontent.com/bnEH2m0KGQhjm-x1ex2TLumKWqNzMJJXvNJYcRrRknQ=w764-h193-no)

[2015-06-20 16:28] ryanoasis commented on #54
With some direction from @Shougo I have a custom column type working for **vimfiler** :smiley:

Work in progress:
![selection_20_06_15_12 23 51_727x531_001](https://cloud.githubusercontent.com/assets/8083459/8268136/cf787cdc-1747-11e5-9e90-0769521d9e24.png)

[2015-06-20 18:47] DemonCloud commented on #70
You working so hard... now in china at 2AM.... not sleep

[2015-06-20 22:55] Shougo commented on #54
:-)

[2015-06-21 00:29] ryanoasis commented on #70
@DemonCloud Haha nah not too hard I think. I work on this when I have energy for the most part and it is important to have a good life balance thanks. Enjoy! :tada:

[2015-06-21 16:03] ivan-cukic commented on #64
+1

[2015-06-23 14:45] calidion commented on #64
:+1:

[2015-06-23 15:23] daedric opened #71 "Small bugs"
Hi,
I've two small bugs:

* First, when I re-source my vimrc, I've bracket appearing. I'd expect them to appear on startup or not at all. Maybe it is some kind of conflict with the nerdtree-git-plugin but I respected the order:
[code]

I've a vim file by type of plugins and I moved vim-airline into the nerdtree.git as well as yours.
Here are some images: before: [before](https://daedric.fr/before.

[2015-06-23 15:24] daedric commented on #64
+1

[2015-06-23 21:48] ryanoasis commented on #59
@ZzAntares just FYI #72 is probably going to fix this for you. I will get it into the next version

[2015-06-23 22:32] ryanoasis commented on #71
* per bug 1 - I have confirmed it as well on my end. re-sourcing causes the brackets to appear
* per bug 2 - Not quite sure I see what you think the bug is here? the misalignment due to having both this plugin and git-nerdtree-plugin ? Can you please elaborate?

[2015-06-23 23:57] ryanoasis commented on #57
@DemonCloud give one of these a try: https://github.com/ryanoasis/nerd-filetype-glyphs-fonts-patcher/tree/0.3.0/patched-fonts/3270
:smile:

[2015-06-24 00:14] ZzAntares commented on #59
Thanks we'll see, as patching the power line font didn't work either.

[2015-06-24 02:18] DemonCloud commented on #57
@ryanoasis

Thank you very much.~

[2015-06-24 09:29] daedric commented on #71
About the second but I've no idea. Could it be that nerdtree-git-plugin uses too wide characters ?
Could it be some padding added by your plugin that should not be added because git-nerdtree-plugin display something itself ?

[2015-06-25 00:17] ryanoasis commented on #71
@daedric I dont *think* the second issue is a bug but it could be the default setting isn't good enough.

You can adjust the padding:
[code]

Let me know if that helps with the 2nd issue, I might need to look into the default setting for true mono fonts.

As for the **1st** issue I am looking into it.

[2015-06-25 16:34] muellan commented on #56
+1

[2015-06-26 09:24] ryanoasis commented on #59
@ZzAntares can you see if pulling latest master fixes this issue for you? Thanks

[2015-06-26 19:20] osleg commented on #54
:+1:

[2015-06-28 07:01] ZzAntares commented on #59
Still not working, even pulled the lastest patcher, patched again and nothing

![screen shot 2015-06-28 at 01 58 07](https://cloud.githubusercontent.com/assets/3653680/8395495/55b7a506-1d39-11e5-8e02-84f07acfea3a.png)

Config in .vimrc:
![screen shot 2015-06-28 at 01 57 43]
(https://cloud.githubusercontent.com/assets/3653680/8395496/55bc1ae6-1d39-11e5-85eb-16bf3517135f.png)

I guess I've to surren

[2015-06-28 16:39] ryanoasis commented on #71
@daedric Okay I think I have something that will *at least* help.

Can you pull the latest and then add this to your `vimrc` (after any setting of syntax):
[code]

[2015-06-28 16:50] ryanoasis commented on #59
@ZzAntares Sorry about this :sob:

Actually I think the issue is not as confusing as I initially thought. It appears to be `g:WebDevIconsUnicodeDecorateFolderNodes` in users `vimrc` setting is getting overwritten by the plugin :blush:

To confirm the suspicion you can call `let g:WebDevIconsUnicodeDecorateFolderNodes = 1` after vim has loaded and refresh the nerdtree.

I am going to push a fix soo

[2015-06-28 16:53] ryanoasis commented on #59
Please close if this fixes the issue for you :smile:

[2015-06-28 19:21] ZzAntares commented on #59
This now works but it does not remove the ugly icon in the very left, what could be happening?

![screen shot 2015-06-28 at 14 20 23](https://cloud.githubusercontent.com/assets/3653680/8397898/f97a0b2c-1da0-11e5-82f9-63ae130b7df1.png)

[2015-06-28 19:50] ryanoasis commented on #59
Actually I think those are `NERDTreeDirArrows`

If you move cursor over the character and enter `ga` you should see the hex and octal value.

Here is how mine looks with and without `NERDTreeDirArrows` set:

![selection_28_06_15_15 44 33_328x370_001](https://cloud.githubusercontent.com/assets/8083459/8397985/5218b466-1dad-11e5-9857-749b465d4dc7.png)

![selection_28_06_15_15 48 40_298x252_001](http

[2015-06-29 02:04] nicholasc commented on #56
+1

[2015-06-29 02:05] nicholasc commented on #64
+1

[2015-06-29 06:26] ZzAntares commented on #59
you're right those are the nerdtree arrows, but I don't understand why they disappear does the patcher removes the glyphs?

This looks with the `let g:NERDTreeDirArrows=0`:

![screen shot 2015-06-29 at 01 11 47](https://cloud.githubusercontent.com/assets/3653680/8402137/d23ae20e-1dfd-11e5-9d45-47324116d4ad.png)

[2015-06-29 08:07] daedric commented on #71
Still no luck ! I added your snippet at the end of my vimrc.
If it helps, I can create a tarball of my vim config so you can test if you're not able to reproduce the problem...

[2015-06-29 08:10] daedric commented on #71
BTW, the padding stuff did not really improve. There is still some misalignment issue.

[2015-06-29 10:48] ryanoasis commented on #71
@daedric Yes if you could send me your `vimrc` I can try to see if it works for me.

The misalignment I think I will try to add a filler character if the node has a git related flag, hopefully not too hard to do.

[2015-06-29 10:51] ryanoasis commented on #59
The patcher shouldn't be removing any glyphs but it may be changing the size in a way that causes the terminal not to be able to render them. What terminal are you using?

Can you send me the font you are using? The pre-patched version and the patched version. Thanks.

[2015-06-29 16:28] ZzAntares commented on #59
I'm using macvim/gvim, this is the font:

`set guifont=Monaco\ for\ Powerline\ Plus\ Nerd\ File\ Types:h15`

The original font is Monaco, but I've been using "Monaco por powerline" for the symbols, that is the one I patched, patching the original didn't work neither.

[2015-06-29 19:53] ijks commented on #64
+1

[2015-06-29 22:03] ryanoasis commented on #59
Try copying and pasting the character into gvim buffer to see if it will even show: `▸`

If you completely disable vim-webdevicons does the `▸` show up?

Do other fonts work fine? E.g. if you even try setting gvim to use another system font does the arrow show?

At least on my system that character mostly is coming from either `DejaVu Sans` or `DejaVu Sans Mono` and not *normally* in any of the pa

[2015-06-29 22:04] ryanoasis commented on #71
@daedric For the misalignment how does this look to you:

![selection_29_06_15_16 04 46_294x328_001](https://cloud.githubusercontent.com/assets/8083459/8417425/a1788478-1e7a-11e5-9e44-c63d8bb7fa64.png)

[2015-06-29 22:05] daedric commented on #71
Yep.
I prepare a tarball with my vim configuration (it is split in several files)

[2015-06-29 22:07] ryanoasis commented on #71
@daedric Okay let me know when and where to download it and I will test out the re-sourcing :+1:

[2015-06-29 22:09] daedric commented on #71
http://daedric.fr/vimconf.tgz

[2015-06-29 22:11] ryanoasis commented on #71
@daedric Thanks I'll let you know!

[2015-06-30 22:11] ryanoasis commented on #71
@daedric can you try this at the bottom instead:

[code]

Note: I did try to use your vimrc but I don't use neobundle and had some errors but I did see that the fix I gave you actually was _not_ working for me as well but this version seems to work

[2015-06-30 23:13] #32 closed

[2015-07-01 02:56] ZzAntares commented on #59
Hello, copying and pasting the character in the gvim buffer does not show the arrow glyph. And yes using another font even a non-patched the arrows show. I'd like to use the Monaco font, do you have an already patched working font to try?

Thanks.

[2015-07-01 10:48] daedric commented on #71
You should maybe disable YouCompleteMe, it requires a CMake, a c++ compiler, and python development libraries.
I tried your new fix. It does not work for me :(

Thanks for trying !

[2015-07-01 10:56] ryanoasis commented on #71
I actually use YouCompleteMe

What if you call `webdevicons#refresh()` directly after re-sourcing?

[2015-07-01 10:58] ryanoasis commented on #59
Strange it sounds like a problem with that font. I will try patching it on my end and upload it depending on license

[2015-07-01 11:09] ryanoasis commented on #59
Maybe try https://github.com/nicholasc/vim-monaco-webdevicons?

[2015-07-02 00:17] ZzAntares commented on #59
Great! It worked like a charm. I suppose then was a problem with my patched font or the patcher.

Thanks for your help, I suppose we can close this (reopen if need it). Thanks!

[2015-07-02 00:17] #59 closed

[2015-07-02 00:35] ryanoasis commented on #59
Awesome! Good to hear. :tada:

I will probably add that font to the list of those included in https://github.com/ryanoasis/font-nerd-icons

[2015-07-02 11:55] ryanoasis commented on #57
@DemonCloud does the patched font work fairly well for you? If so I would like to close this issue

[2015-07-03 00:20] DemonCloud commented on #57
@ryanoasis  No , The icon width also has some problem

[2015-07-03 00:37] ryanoasis commented on #57
@DemonCloud Okay I may close this issue and open a new one on https://github.com/ryanoasis/font-nerd-icons instead since this issue is related to the font :smile:

[2015-07-03 13:21] daedric commented on #71
No luck :(

[2015-07-03 13:56] ryanoasis commented on #71
Hmm that should at least do something. Does it open and close nerdtree if it is open (it should at least do that) ?

Do you have any errors in `:messages` after executing?

You are up to date with the lastest code in master?

[2015-07-04 02:13] ryanoasis commented on #57
closing and opened ticket on ryanoasis/font-nerd-icons/issues/15 instead

[2015-07-04 02:13] #57 closed

[2015-07-04 15:41] delphinus35 opened #73 "Why WebDevIconsGetFileFormatSymbol() returns with &enc?"
`&enc` is a setting that decides vim internal encoding. I think `WebDevIconsGetFileFormatSymbol()` should return information of editing files, but not the whole vim setting such as `&enc`.

Probably, it has been mistaken from `&fenc`?

[2015-07-04 15:57] ryanoasis commented on #73
@delphinus35 :+1: Yes looks like you are right it should be `fenc` not `enc`. Just checked that in the help and the vim-airline code and `fenc` is what we want here :blush:

Thanks! I will make sure this gets fixed in the next bug/minor release

[2015-07-05 02:27] delphinus35 commented on #64
+1

[2015-07-05 02:28] delphinus35 commented on #54
+1

[2015-07-05 10:50] delphinus35 commented on #73
Thx for reply. When I wrote powerline plugin, it seems that I need a different approach for this. Please see #74.

[2015-07-05 11:59] ryanoasis commented on #73
@delphinus35 you can remove the encoding from that functions return. See my comment: https://github.com/ryanoasis/vim-webdevicons/pull/74#issuecomment-118615377 :smile:

[2015-07-05 18:17] ryanoasis commented on #71
@daedric I am considering closing this for now, I cannot replicate. I added some of the notes to the readme. We can open a new issue if it persists :smile:

[2015-07-07 10:31] vitaminless commented on #56
+1

[2015-07-07 13:03] daedric commented on #71
no problem :) good luck !

[2015-07-07 13:03] #71 closed

[2015-07-07 22:59] ryanoasis commented on #61
For anyone feeling brave you can give [0.5.0](https://github.com/ryanoasis/vim-webdevicons/tree/0.5.0) a try :smirk: :
* support for flagship
* support for perl
* added support for more languages
* support for unite and vimfiler
* API fix
* misc code formatting fixes
* misc readme and doc updates

(I still need to do more testing before a release **AND** _maybe_ try to get **ctrlp** support and **

[2015-07-07 22:59] ryanoasis commented on #73
@delphinus35 I have fixed this in [0.5.0](https://github.com/ryanoasis/vim-webdevicons/tree/0.5.0)

[2015-07-07 22:59] ryanoasis commented on #54
For anyone feeling brave you can give [0.5.0](https://github.com/ryanoasis/vim-webdevicons/tree/0.5.0) a try :smirk: :
* support for flagship
* support for perl
* added support for more languages
* support for unite and vimfiler
* API fix
* misc code formatting fixes
* misc readme and doc updates

(I still need to do more testing before a release **AND** _maybe_ try to get **ctrlp** support and **

[2015-07-07 23:00] ryanoasis commented on #60
@zaferot this should be working in [0.5.0](https://github.com/ryanoasis/vim-webdevicons/tree/0.5.0) **if** you want to give it an early test :smirk:

[2015-07-07 23:00] ryanoasis commented on #70
For anyone feeling brave you can give [0.5.0](https://github.com/ryanoasis/vim-webdevicons/tree/0.5.0) a try :smirk: :
* support for flagship
* support for perl
* added support for more languages
* support for unite and vimfiler
* API fix
* misc code formatting fixes
* misc readme and doc updates

(I still need to do more testing before a release **AND** _maybe_ try to get **ctrlp** support and **

[2015-07-08 00:49] delphinus35 commented on #73
👍

[2015-07-08 06:26] osleg opened #75 "Unable to set font to be used in terminal"
Using rxvt-unicode I edited my .Xresources file with
[code]

The font looks broken, it doesn't honor the size, neither I can see glyphs/arrows in vim
I tried with couple of differents fonts from nerd-fonts repo but the result is always the same.
This is with `ProggyCleanTT`:

![201507081424](https://cloud.githubusercontent.com/assets/207721/8564316/333d4156-257d-11e5-8230-ef1f665fe797.png)

Though

[2015-07-08 11:53] zaferot commented on #60
Great! But, I'll wait the changes in master :)
Thanks!

[2015-07-08 11:53] #60 closed

[2015-07-08 22:14] ryanoasis commented on #75
@osleg that *might/hopefully* be the font name you have given. I tried testing it right now but I am having some issues with my rxvt terminal updating my settings :blush:

I'll get back to you though. Thanks!

[2015-07-09 08:03] osleg commented on #75
I tried with bizillion different names... though I actually took the name from `fc-list` command so should be correect one.
I also tried to the the very same way as described in your readme with Droid fonts, nothing helps :)

[2015-07-09 11:07] ryanoasis commented on #75
Oh wow okay then sounds like a problem with the actual Mono fonts :worried:

Sorry that it is not working, I'll have to see what's going on

[2015-07-09 11:17] osleg commented on #75
If you need that i'll test something - let me know

[2015-07-11 14:08] ryanoasis commented on #56
I have this working with a _somewhat_ ugly/hacky overwrite for the official/original [kien/ctrlp.vim](https://github.com/kien/ctrlp.vim) and I am going to submit a PR for a simpler implementation for the active fork [ctrlpvim](https://github.com/ctrlpvim/ctrlp.vim)

[2015-07-12 17:04] ryanoasis opened #76 "Rebranding part 1: title and image (vim-devicons)"
splitting #64 into 2 parts

* part 1: title and image
* part 2: internal and breaking changes (v1.0.0)

[2015-07-12 17:05] ryanoasis opened #77 "Rebranding part 2: internal and breaking changes"
splitting #64 into 2 parts

* part 1: title and image
* part 2: internal and breaking changes (v1.0.0)

[2015-07-12 17:05] ryanoasis commented on #64
Closing, will be done in #76 and #77

[2015-07-12 17:05] #64 closed

[2015-07-12 17:13] #73 closed

[2015-07-12 17:14] #54 closed

[2015-07-12 17:14] #56 closed

[2015-07-12 17:14] #61 closed

[2015-07-12 17:14] #70 closed

[2015-07-12 17:14] #76 closed

[2015-07-12 19:00] ryanoasis commented on #75
@osleg Sorry it looks like the bitmap fonts (bdf) are *NOT* being patched correctly.

Can you try the Droid Sans Mono or check your configuration lines?

## Droid Sans

`URxvt.font: xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=16:antialias=true:hinting=true`

![selection_12_07_15_14 52 41_657x802_001](https://cloud.githubusercontent.com/assets/8083459/8639363/af5c422a-28a5

[2015-07-12 19:22] osleg commented on #75
Here is the result, it looks the same with both Droid and Proggy
![20150713032220](https://cloud.githubusercontent.com/assets/207721/8639492/6ed8a6bc-290e-11e5-9a2c-842d7f6d5897.png)

[2015-07-12 19:25] osleg commented on #75
My bad, with droid it looks ok, though proggy is just as shown above.
How could I patch Terminus with the powerline arrows and your icons? Too used to terminus already :)

[2015-07-12 19:28] ryanoasis commented on #75
@osleg To me it looks like it is not finding the font. The font in the screenshot looks different than Droid Sans.

Here is what I get running `fc-list`:
[code]

[2015-07-12 20:47] ryanoasis commented on #75
@osleg Yeah sounds like a few fonts need fixing.

As for Terminus you can try the [font patcher](https://github.com/ryanoasis/nerd-fonts) but it doesn't  seem to be patching the bitmap fonts correctly at the moment.

[2015-07-12 22:20] ryanoasis commented on #75
@osleg I think I want to close this issue and instead use this one: ryanoasis/nerd-fonts/issues/16

[2015-07-13 16:27] skcc321 opened #78 "vertically stretched icons"
Don't sure that this is right place where i can ask about this. But...
What shall i do to fix 'stretching' effect?
example: https://goo.gl/KFdkLf
emulator: gnome terminal
font: droid sans mono for powerline plus nerd file types mono 12

[2015-07-14 00:03] ryanoasis commented on #78
@skcc321 this is an okay place to ask. font related should probably go on https://github.com/ryanoasis/nerd-fonts but since the primary use is this vim plugin this is where most issues get posted :smile:

I think the issue is with the 'mono' variation of the fonts. the patcher as it currently stands is definitely not perfect in how the glyphs come out unfortunately :cry: but I am still working on

[2015-07-14 01:58] mhartington opened #79 "Request: Typescript Icon"
A typescript icon would be great! Seti-ui for atom already has one in their fonts.

<img width="195" alt="screen shot 2015-07-13 at 9 55 39 pm" src="https://cloud.githubusercontent.com/assets/2835826/8664818/529313d8-29aa-11e5-9c98-0f1dd35447b6.png">

Nice and simple too.

[2015-07-14 02:43] ryanoasis commented on #79
Yep! Actually I noticed there were new ones in seti-ui that I did not have and also some other ideas I have been playing with (more and custom folders)

These are the additions (highlighted in blue) I would like to make (including typescript) :smirk:

![selection_13_07_15_22 41 59_878x461_001](https://cloud.githubusercontent.com/assets/8083459/8665304/7bf219e4-29b0-11e5-8d35-286022ccdf71.png)

[2015-07-14 03:38] mhartington commented on #79
:+1:

[2015-07-14 08:10] skcc321 commented on #78
Yeah, ruby icon is awful in this case. :)
Thanks, for a rapid response.

[2015-07-14 14:35] nicholasc opened #80 "Plugin seems to truncate 6 characters when opening with CtrlP"
The plugin seems to affect CtrlP's behaviour since it supports it. When opening a file in a new tabs it seems to truncate the first six characters of the filename therefore opening a new buffer.

![screen shot 2015-07-14 at 10 24 24 am](https://cloud.githubusercontent.com/assets/2378304/8675830/fbfda168-2a13-11e5-9e0e-1e57511f8769.png)
![screen shot 2015-07-14 at 10 24 39 am](https://cloud.githubu

[2015-07-14 16:08] ryanoasis commented on #80
It _should_ be working without the PR [with the hack](https://github.com/ryanoasis/vim-devicons/blob/master/plugin/webdevicons.vim#L371-L450). It looks like the `ctrlp_open_func` is working correctly but the customized `reformat` tweak is not executing (thus there are no glyph prefixes to remove).

My initial thought is maybe your ctrlp Plugin line is coming after devicons?

To temporarily get you

[2015-07-14 18:16] nicholasc commented on #80
Ah perfect. I can temporarily disable the CtrlP option for now. I figured it was trying to remove the glyph from the filename so it could get the file path correctly. Doing so using unicode patterns would definitely be more reliable than with a fixed offset. How would I get the reformat tweak to execute correctly?

P.S: My devicons line is after CtrlP in my config.

[2015-07-14 22:04] ryanoasis commented on #80
I am not sure at the moment. I tested as many scenarios as I could on my local including both [kien/ctrlp](https://github.com/kien/ctrlp.vim) and [ctrlpvim/ctrlp](https://github.com/ctrlpvim/ctrlp.vim) . I am guessing you use kien/ctrlp ?

You could try adding some `echom`s inside the `s:initializeCtrlPOverwrite()` function to see if it is even being called and/or get a better sense of what logic

[2015-07-16 06:35] nirum commented on #80
Hey! I ran into this same problem (see the issue above)

[2015-07-16 06:37] nirum commented on #80
also: I'm using the active fork, ctrlpvim/ctrlp

[2015-07-18 14:18] #80 closed

[2015-07-18 14:21] ryanoasis commented on #78
@skcc321 I may close this issue and open one in the [font-patcher](https://github.com/ryanoasis/nerd-fonts) but I have not decided yet because this project has more visibility and it is easier to remember open issues here :smile: . Maybe best to leave this open _and_ create one in nerd-fonts

[2015-07-20 08:00] theRemix opened #81 "Font Installation curl link is wrong"
Update the Font Installation curl url to https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/DroidSansMono/Droid%20Sans%20Mono%20for%20Powerline%20Plus%20Nerd%20File%20Types.otf

[2015-07-20 12:53] ryanoasis commented on #81
@theRemix Nice catch! Can you submit a PR so you can get the proper contribution?

[2015-07-22 02:10] theRemix commented on #81
woops forgot to create a PR, https://github.com/ryanoasis/vim-devicons/pull/83

[2015-07-23 00:11] #81 closed

[2015-07-23 20:47] rdlugosz opened #84 "Dots appearing to the right of icons in NerdTree"
I'm seeing "dots" immediately to the right of the icons in NERDTree and it looks as if the dots partially cut off the right edge of the image. Any idea what's going on here? I do not see the dots when I don't have the devicons plugin loaded. Font in use here is patched "Sauce Code Pro", but I see the same results with any font (including unpatched fonts).

![screen shot 2015-07-23 at 4 37 23 pm](h

[2015-07-23 22:52] radaniba opened #85 "Fonts (icons) not showing"
Hello

I am using vim 7.4 (no macvim/gvim) and I am having troubles configuring this plugin
Icons are not showing up and all documentation is about ~/.gvimrc for the `guifont` part

Any idea on how to get fixed ?

(am using MacOs Yosemite)

![screen shot 2015-07-23 at 3 49 34 pm](https://cloud.githubusercontent.com/assets/1666443/8864069/c33a2fc2-3152-11e5-9664-2d01c2c08aeb.png)

[2015-07-24 16:09] radaniba commented on #85
[This](https://github.com/ryanoasis/nerd-fonts/issues/13) fixed my problem

[2015-07-24 16:09] #85 closed

[2015-07-25 11:14] ryanoasis commented on #85
@radaniba great! I was actually going to post a link to that ticket. Do you think if info on iterm settings in the readme would help?

[2015-07-25 11:30] ryanoasis commented on #84
Hmm that is odd. Can you see what char code it gives when you highlight with cursor and enter `ga` ?

You should see the hex and octal value.

I did add a display hack fix that adds a supposedly empty character that helps with glyphs being cut off but possibly on your system that char is not blank: https://github.com/ryanoasis/vim-devicons/blob/master/plugin/webdevicons.vim#L533-L537

[2015-07-25 11:37] ryanoasis commented on #75
Just confirming that I am leaving this ticket open so that I followup. Will remain open until https://github.com/ryanoasis/nerd-fonts/issues/16 is resolved

[2015-07-25 16:15] radaniba commented on #85
@ryanoasis absolutely ! Please do ! Also MacOs doesnt really overwrite fonts when you install them again, make sure to recommend remove a particular font and install the patched one instead

[2015-07-30 19:57] rdlugosz commented on #84
Ah! Doing a `ga` made the problem obvious: `< > 160, \240, U+00A0 NO-BREAK SPACE, ^KNS, &nbsp; ` …and in my vimrc: `let &listchars = "tab:>-,trail:\u2591,extends:>,precedes:<,nbsp:\u00b7"`

Disabling the special character for `nbsp` resolved the issue. Thx for pointing me in the right direction.

[2015-07-30 19:57] #84 closed

[2015-07-30 22:01] ryanoasis commented on #84
@rdlugosz Awesome! :tada: Glad you were able to find the reason and resolve.

Do you think using `NO-BREAK SPACE` as a hack fix character is a bad idea? Should we use something else?

[2015-07-31 07:31] ahrse opened #86 "filenames of buffers get lost in unite filter"
I'd like to suggest the following patch:
`diff --git a/plugin/webdevicons.vim b/plugin/webdevicons.vim`
`index f7e1eb5..dcde594 100644`
`--- a/plugin/webdevicons.vim`
`+++ b/plugin/webdevicons.vim`
`@@ -319,6 +319,10 @@ function! s:initializeUnite()`
 ``
`         let icon = WebDevIconsGetFileTypeSymbol(filename, isdirectory(filename))`
``
`+        if filename != path`
`+          let path = prin

[2015-08-02 01:28] rdlugosz commented on #84
If there's a better choice than NBSP I'm not aware of one. I think your usage is fine (and probably 99% of users aren't setting a listchar for nbsp like I was—and I wasn't really in need of that listchar anyway, so I'm not bothered by unsetting it.

[2015-08-02 20:28] ryanoasis commented on #86
@ahrse nice fix thanks!

Do you want to submit a Pull Request so you get credit for the code contribution? If not I will get this in soon :+1:

[2015-08-02 22:59] ahrse commented on #86
eh' get it  in there I'd go to charge for real work :-)

kind regards

Zitat von Ryan L McIntyre <notifications@github.com>:

[2015-08-02 23:43] ryanoasis commented on #86
@ahrse well thanks. Yep I understand. Just thought I'd make sure :smile:

[2015-08-03 22:23] washtubs opened #88 ":CtrlPMRU now erroneously shows the current buffer."
I didn't try to extensively reproduce this. I just noticed it after installing, so let me know if it's not easy to reproduce. I had to disable the plugin to fix.

`:CrtlPMRU` is supposed to automatically place your cursor on the previously opened buffer. Now it starts you on the *current* buffer, which you would obviously never need to switch to.

[2015-08-03 22:40] ryanoasis commented on #88
@washtubs thanks and I will look into it. Sorry about that!

Just FYI if you want you can disable _just_ the ctrlp integration until this is fixed with:
[code]

[2015-08-03 23:46] lerrua opened #89 "Request: Alternative Ruby and Vim icons"
Hi @ryanoasis

I've saw the set 2 with others icons like ruby and vim:
https://github.com/ryanoasis/nerd-fonts#set-2-devicons

How to use it? It will be great if i can replace my ruby icon.

[2015-08-04 00:50] ryanoasis commented on #89
Sure! I know the default ruby one I chose might be a bit ugly :laughing:

Yeah so.. you should be able to change any match you want, try for example in your `vimrc`:

[code]

I have (what I think) is a better default vim icon coming in the next additions:
![upcoming icon additions](https://cloud.githubusercontent.com/assets/8083459/8665304/7bf219e4-29b0-11e5-8d35-286022ccdf71.png)

[2015-08-04 01:20] lerrua commented on #89
@ryanoasis this new ruby icon is much better than other =p
But wtf, how i can see thats unicode in image? haha

[2015-08-04 01:39] marioidival opened #90 "Problem in vim terminal - mac osx"

[2015-08-04 01:39] marioidival commented on #90
![captura de tela 2015-08-03 as 22 38 51](https://cloud.githubusercontent.com/assets/1129263/9051387/83ff301e-3a30-11e5-85b3-f8e869e24f8f.png)

[2015-08-04 01:57] ryanoasis commented on #89
@lerrua you can grab most of the glyphs from here if you want: https://raw.githubusercontent.com/wiki/ryanoasis/vim-webdevicons/tests/utf8-markus-kuhn-plus-webdevicon-glyphs.txt

[2015-08-04 02:10] ryanoasis commented on #90
can you tell me what font is set in the terminal?

are you using iterm?

See if this helps you: [#13](https://github.com/ryanoasis/nerd-fonts/issues/13)

[2015-08-04 03:24] lerrua commented on #89
@ryanoasis Nice! Thank man. :heart:

[2015-08-04 03:24] #89 closed

[2015-08-04 03:28] lerrua commented on #90
@marioidival maybe u must install with double click in ~/.fonts/file and set Droid font inside iterm

[2015-08-04 06:20] kiranps opened #91 "nerd tree rendering problem while using tmux"
I had rendering problems with vim nerd tree while using it with tmux. just like in this post http://stackoverflow.com/questions/22715071/vim-and-tmux-rendering-error

so i had to add a line in .tmux.conf to fix it

    set-window-option -g utf8 on

My current problem is, to make vim-dev icons works i had to remove the previous configuration from .tmux.conf. as remove the configuration redering pro

[2015-08-04 10:14] SteveGZr opened #92 "Getting Errors on Vim startup"
I'm getting the following Errors when I start Vim:

![2015-08-04-121105_1670x1024_scrot](https://cloud.githubusercontent.com/assets/12197139/9058558/4e624622-3aa2-11e5-8149-367598230481.png)

[2015-08-04 10:17] marioidival commented on #90
Wow, Thank you @ryanoasis @lerrua . I use `Terminal` terminal app from osx. I just change the font directly in `Preferences`.

Thank you again for fast support.

[2015-08-04 12:10] ryanoasis commented on #90
@marioidival no problem, glad you got it working.

I am going to close this now

[2015-08-04 12:10] #90 closed

[2015-08-04 12:14] ryanoasis commented on #92
@SteveGZr can you paste the order of the plugins you are loading?

[2015-08-04 12:28] ryanoasis commented on #92
It looks like devicons and/or airline might be older versions.

Reference: #23 #24 #25

[2015-08-04 20:14] michaelmrose opened #93 "Please make *.fish which is fish shell use the same icon as sh"

[2015-08-04 20:30] michaelmrose opened #94 "Support for vim-startify"
Support for vim-startify would be nice please see https://github.com/mhinz/vim-startify

[2015-08-04 21:10] michaelmrose opened #95 "Can't seem to get icons in airlines tab or buffer line"
Icons show up in airlines statusline and in ctrlp
I have  let g:webdevicons_enable_airline_tabline = 1
I use pathogen so I can't explicity define loading order easily so I had to place your main file in ~/.vim/after/plugin

Tried leaving the autoload dir where it was underneath bundle to let pathogen load it, putting the whole thing under after/autoload and placing it in airlines own extension dir

[2015-08-05 02:44] ryanoasis commented on #93
@michaelmrose Sure! should be fairly quick. I'll target for next patch/bugfix release :+1:

[2015-08-05 02:45] ryanoasis commented on #91
Hmm I will have to look into this and test more to get back to you. Sorry

[2015-08-05 02:46] ryanoasis commented on #94
I have seen that plugin before and its a good idea. I haven't used it but hopefully wouldn't be too bad to implement.

And by support you mean to add icons for the filenames that startify lists?

[2015-08-05 02:47] ryanoasis commented on #95
Honestly I haven't tested with pathogen but definitely I will try to take a look. Sorry! :worried:

[2015-08-05 03:58] michaelmrose commented on #94
yes precisely thank you

[2015-08-05 05:10] kiranps commented on #91
@ryanoasis which os do you use

[2015-08-05 06:39] SteveGZr commented on #92
I am using Pathogen for installing of Plugins, so I have no specific order of loading the plugins.

[2015-08-05 06:44] SteveGZr commented on #92
Is fixed.. Just forgot to pull in the airline directory.. Sorry for stealing your time.. Shame on me :/

[2015-08-05 06:44] #92 closed

[2015-08-05 11:19] ryanoasis commented on #92
@SteveGZr glad you figured it out :+1:

Don't worry it wasn't that much time :smile:

[2015-08-07 17:28] ryanoasis commented on #88
after a lot of digging I found the key issue inside `s:MatchIt` because I am sending the items with an extra glyph/icon but the current item (`a:exc`) here does _NOT_ have the glyph so the match is failing causing the item to be added to the list when it shouldn't be.

This all relates to how I am actually modifying `s:mrufs` instead of modifying the `s:formatline()` method and the change would re

[2015-08-07 17:34] ryanoasis commented on #91
@kiranps I use Linux mostly. Have done some basic testing on Windows.

Which screenshot are you referring to?

I tried to take screenshots of most of the terminals I tested (Gnome, Urxvt). Most of the main screenshots you see are Xfce terminal.

The font I use most is probably the Droid Sans patched or the Literation (Liberation) patched one.

Btw, I tested a tmux session in xterm and I do not see

[2015-08-07 18:26] #86 closed

[2015-08-07 18:27] #93 closed

[2015-08-08 13:15] washtubs commented on #88
I use kien's but until you mentioned it, I didn't know there was another one that was being actively maintained. Now I suppose I'll just switch to that one!

[2015-08-08 23:20] ryanoasis commented on #88
:smile:

[2015-08-12 11:18] kiranps commented on #91
@ryanoasis please add

    set-window-option -g utf8 on

to your tmux.conf and check whether vim dev-icons are working

[2015-08-12 11:31] kiranps commented on #91
![tmux](https://cloud.githubusercontent.com/assets/3966804/9222924/5041515a-4113-11e5-9ee3-5e088800c7d1.png)

when open and close my nerdtree some part on the separator of the nerd tree remains in the window. also first line has some problems. some times first line merges with the airline plugin, this is caused due to the removal of `set-window-option -g utf8 on` from tmux.conf

[2015-08-12 12:44] kiranps commented on #91
I found a solution to this. To get full support of unicode in tmux. open it like this

    tmux -u

[2015-08-12 12:45] #91 closed

[2015-08-12 13:00] ryanoasis commented on #91
@kiranps great! I will try to add some more details to the readme :+1:

[2015-08-14 01:04] ryanoasis commented on #95
I am assuming this is still an issue?
I will test out pathogen when I have time

[2015-08-14 01:06] ryanoasis commented on #75
I believe the latest ProggyClean I uploaded should now be fixed. Now just need to fix Terminus

[2015-08-14 23:22] lerrua commented on #79
@ryanoasis nice that `e52a` Vi icon :+1:

[2015-08-18 00:02] ryanoasis opened #104 "Implement open & close folder glyphs (icons)"
Work in progress:

![screencast_17-aug-2015-07 59 50](https://cloud.githubusercontent.com/assets/8083459/9319284/bd7b5fa8-451a-11e5-8f62-c33355ded82f.gif)

:smiling_imp:

[2015-08-18 00:06] lerrua commented on #104
Nice. :+1:

[2015-08-20 13:00] ryanoasis commented on #94
@michaelmrose,

**PR** has been submitted :smile:, you can follow progress: mhinz/vim-startify#177

Looks like it will be a while before/if it gets merged in however so I am going to go ahead with **v0.6.0** milestone *without* this support

[2015-08-24 21:29] mhartington opened #106 "FZF Support?"
FZF has a vim interface for fast file searching.

https://github.com/junegunn/fzf

Similar to ctrlp/unite.
Would be interested in have some icons in there too :grin:

[2015-08-24 23:11] kcmannem opened #107 "blurry icons/statusline misalignment using SauceCodePro"
these issues do not appear when using the normal source code pro unmatched font. Here is an image of the blurry icons in NERDTree.
![screen shot 2015-08-24 at 7 08 39 pm](https://cloud.githubusercontent.com/assets/9054726/9454887/a28833fa-4a93-11e5-96bf-ca75467a6068.png)

here is a picture of the misalignment
![screen shot 2015-08-24 at 7 09 58 pm](https://cloud.githubusercontent.com/assets/905472

[2015-08-24 23:52] ryanoasis commented on #107
:worried: I will try to look into it. Actually I think I have seen it before but I probably ignored it :blush:

Thanks!

[2015-08-25 12:02] ryanoasis commented on #106
That's a cool idea :+1: . Just quickly looked at the code and I am not sure how much would be involved but definitely would like to try at some point :smile:

Thanks

[2015-08-27 06:46] aborilov opened #108 "No devicons with pached font in terminal"
Hi!
I've patched this font https://github.com/Gonzih/inconsolata-lgc-for-powerline with nerd-fonts font-patcher.
In gvim all looks great, but in terminal(urxvt) font look fine, but no devicons in vim.
![screenshot](https://cloud.githubusercontent.com/assets/2526284/9514155/3843aca4-4ca0-11e5-87e1-b90af1f9b811.png)
as you can see from screenshot, urxvt found font, but without devicons.

[2015-08-28 18:19] #33 closed

[2015-08-28 18:22] ryanoasis commented on #104
Fin (not perfect but for now)

[2015-08-28 18:22] #104 closed

[2015-08-28 18:22] ryanoasis commented on #79
Done

[2015-08-28 18:22] #79 closed

[2015-08-28 18:50] mhartington opened #109 "Error with 0.6.0 Update"
Not sure whats up, but got this error when I updated.

[code]

[2015-08-28 18:50] ryanoasis commented on #108
can you try running the font patcher with the `-s` flag ?

That should force the glyphs to be single width (mono) which is required for terms like urxvt

[2015-08-28 18:54] ryanoasis commented on #109
eeek ouch. Thanks. I think I see the issue

[2015-08-28 18:58] #109 closed

[2015-08-28 19:00] ryanoasis commented on #109
@mhartington Can you see if it works for you now?

[2015-08-28 19:01] mhartington commented on #109
Hmm, still getting something

``
Error detected while processing /Users/mhartington/.nvim/bundle/vim-devicons/nerdtree_plugin/webdevicons.vim:
line  118:
E121: Undefined variable: g:DevIconsEnableFoldersOpenClose
E15: Invalid expression: g:DevIconsEnableFoldersOpenClose
Press ENTER or type command to continue
[code]

[2015-08-28 19:02] ryanoasis commented on #109
crap yep

[2015-08-28 19:08] ryanoasis commented on #109
I have it fixed on my end. How about you?

[2015-08-28 19:09] mhartington commented on #109
That one seems to have done it :+1:
Thanks!

[2015-08-28 19:10] ryanoasis commented on #109
Awesome :tada: :cold_sweat:

No thank you! I was lucky to get your report soon after pushing!

Probably time to think about adding some basic build tests. I did not catch the error because of my `vimrc` settings.

[2015-08-28 19:11] mhartington commented on #109
https://github.com/kana/vim-vspec ?

[2015-08-28 19:14] ryanoasis commented on #109
Yeah something like that. I have seen that one and a few nice other ones.

BTW for 'ts' icons you'll need a latest font from https://github.com/ryanoasis/nerd-fonts :smile:

[2015-08-28 19:15] mhartington commented on #109
Already downloaded :grin:
Holy Icons! Thats a big update to SourceCode Pro.
Thanks a lot

[2015-08-28 19:23] ryanoasis commented on #109
:wink: Yeah, however there are still some basic problems with the patched fonts (most of the open tickets are related to the fonts).

I am probably going to simply the directory structure and make it easier to download the font that has everything.. because right now its very hard to see and know which one you want IMHO

[2015-08-28 19:24] mhartington commented on #109
Happy to help out how ever I can.

[2015-08-28 19:26] ryanoasis commented on #109
Thanks :+1:

[2015-08-28 21:46] KabbAmine opened #110 "Dots after icons in NERDTree, only in GVim"
First of all, thanks for your awesome plugin.

With GVim, I had the same problem as the one in #84 ...

![devicon1](https://cloud.githubusercontent.com/assets/5658084/9557611/1134bee0-4de6-11e5-88b0-343ca617edc4.png)

... and unsetting `list` in nerdtree's buffer solved it.

[code]
![devicon2](https://cloud.githubusercontent.com/assets/5658084/9557633/33e7246e-4de6-11e5-8c3e-e65b762f12bd.png)

It

[2015-08-28 23:53] kassio opened #111 "Plus sign after the icon on nerdtree"
I'm getting this:
![python 2015-08-28 20-53-30](https://cloud.githubusercontent.com/assets/120483/9559252/d9ed8706-4dc6-11e5-8442-68ba93716dd5.png)

I'm using iterm2:
![preferences 2015-08-28 20-52-19](https://cloud.githubusercontent.com/assets/120483/9559243/b15402ac-4dc6-11e5-95c0-7420baccd927.png)

Also, I'm using neovim.

Thank you.

[2015-08-29 01:01] ryanoasis commented on #111
Can you see if #110 is any help to you?

[2015-08-29 03:07] kassio commented on #111
You're right! It worked! Thank you a lot!

[2015-08-29 03:07] #111 closed

[2015-08-29 04:22] ryanoasis commented on #111
No problem. Glad that worked for you. :smile:

I probably need to add to the readme more details as suggested by #110

[2015-08-29 04:25] ryanoasis commented on #110
Thanks for this! I will at least add to readme as you suggested :smile:

[2015-08-29 08:55] KabbAmine commented on #110
Good :smiley: You'll close the issue when the README will be updated then.

[2015-08-29 09:34] KabbAmine opened #112 "Some folders in NERDTree use file glyphs instead of directory ones"
In NERDTree, a directory named for example `folder.ext` will be considered by devicons as a file: `file.ext`, so the plugin will use a filetype glyph instead of directory glyph.

![dev1](https://cloud.githubusercontent.com/assets/5658084/9561330/5868323e-4e49-11e5-8090-532bb549b5c9.png)

Having `let g:DevIconsEnableFoldersOpenClose = 1` works as expected when the directory is opened.

![dev2](http

[2015-08-29 13:30] ryanoasis commented on #112
This is a good point. I had set it up so directories could be matched on as well however most of the time this is probably not the desired result (as your example demonstrates).

So I think by default directories should not try to find matches but I would allow an option to do that.

The proper directory detection is present it's just that I currently allow them to be matched as well

Thanks :smil

[2015-08-29 15:09] ryanoasis commented on #110
Yep :+1:

[2015-08-30 15:15] KabbAmine commented on #112
I agree :+1:

[2015-09-01 02:58] lerrua opened #113 "Folders icon doens't work with other fonts"
Hi there.

I'm using Fira Mono Medium font that download at https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/FiraMono (an amazing font) and works fine with dev-icons but dont looks good using folders config like this

[code]
![screen shot 2015-08-31 at 11 52 05 pm](https://cloud.githubusercontent.com/assets/154603/9595143/6aa7b52a-503b-11e5-975f-2a8fc0580f09.png)

![screen shot 20

[2015-09-01 14:57] ryanoasis commented on #113
That's odd.

Can you see what char code it gives when you highlight the folder with cursor and enter `ga` ?

I just tried:
* https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/FiraMono/Fira%20Mono%20Bold%20for%20Powerline%20Plus%20Nerd%20File%20Types.otf

And they seemed to have the glyphs.

This is what I am seeing in my terminal vim when I set those 2 options and Fira font:

![sel

[2015-09-29 04:15] tnguyen14 opened #114 "icons not showing"
I've followed the instruction of downloading the patched font and set my iTerm to use that font (Fura Mono Bold for Powerline Plus Nerd File Types Mono). However, the file icons are not showing. Instead, I see these:

<img width="227" alt="screen shot 2015-09-29 at 12 13 44 am" src="https://cloud.githubusercontent.com/assets/1652595/10155170/2fed522c-663f-11e5-806f-7bce4383e72c.png">

I am not sur

[2015-09-29 11:33] ryanoasis commented on #114
See if [this](https://github.com/ryanoasis/nerd-fonts/issues/13) fixes your problem (iterm ascii settings)

Related: #85 #90

[2015-09-29 14:11] tnguyen14 commented on #114
ryanoasis/nerd-fonts#13 seems to have fixed it (setting the Non-ASCII font in iTerm).

However, the width of the character still seems a little distorted vertically. Any suggestion on how to fix that?

<img width="298" alt="screen shot 2015-09-29 at 10 09 20 am" src="https://cloud.githubusercontent.com/assets/1652595/10166522/64a1707c-6692-11e5-89ab-b63f11b47c61.png">

[2015-09-30 22:10] blueyed opened #115 ""E16: Invalid range" with CtrlPMRUFiles: does not clean up file name"
I sometimes see the following error when using `:CtrlPMRUFiles`:

    Error detected while processing function <SNR>277_AcceptSelection..webdevicons#ctrlPOpenFunc:
    line    5:
    E16: Invalid range

The line in question is https://github.com/ryanoasis/vim-devicons/blob/master/plugin/webdevicons.vim#L549:

That might be an issue with Neovim, I've not investigated yet.

But the result is that th

[2015-10-02 20:08] tnguyen14 commented on #114
@ryanoasis pinging you again - any idea/ suggestion on why the font seems so compressed on my iTerm?

[2015-10-02 21:46] ryanoasis commented on #114
Which font are using (the exact font name)?

Some of the fonts are completely monospaced and some are Mono but have double width glyphs

[2015-10-02 21:56] tnguyen14 commented on #114
I use `Fura Mono Regular for Powerline Plus Nerd File Types Mono`. Should I use something different?

[2015-10-02 22:00] ryanoasis commented on #114
Can you try `Fura Mono Regular for Powerline Plus Nerd File Types`

[2015-10-03 03:50] tnguyen14 commented on #114
That seems to have fixed it. Thanks :)

I'll close this issue for now. I think that the README could be update to include that little nugget of info about Non-ASCII font for iTerm on OS X. More than happy to create a PR for it if you'd like.

[2015-10-03 03:50] #114 closed

[2015-10-03 14:13] ryanoasis commented on #114
Great.

Yeah I have been meaning to add something.

If you want to submit a PR that'd be cool  (I just may tweak it a bit - mostly related to position in the readme. Screenshots of the iTerm settings would be nice also.

[2015-10-06 01:03] cj opened #116 "Squished icons using mintty (windows)"
The icons seem to be squished when using `mintty` (http://babun.github.io)

![](http://i.imgur.com/8iSwgzi.png)

[2015-10-07 15:15] ryanoasis commented on #116
Which font are you using? There are single width symbol and double width glyph versions of each patched font variant

[2015-10-07 15:42] ryanoasis commented on #116
seems to relate to #78

[2015-10-07 15:42] ryanoasis commented on #95
@michaelmrose is this still an issue for you?

[2015-10-07 15:43] ryanoasis commented on #75
Closing for now. Terminus font patching issues probably still remain though.

[2015-10-07 15:43] #75 closed

[2015-10-07 15:44] ryanoasis commented on #108
@aborilov were you ever able to figure it out?

[2015-10-07 15:45] ryanoasis commented on #113
@lerrua were you able to solve this?

[2015-10-07 17:19] aborilov commented on #108
Sorry, will try this week.

ср, 7 окт. 2015, 18:44, Ryan L McIntyre <notifications@github.com>:

[2015-10-07 20:16] rscircus commented on #78
+1. Using gnome-terminal on Linux Mint 17.2 - pretty vanilla... 😕

[2015-10-07 21:06] ryanoasis commented on #78
@rscircus Yes give that a try. Let me know if it does or does not. :smile:

Hopefully it should work for you (to use the double width glyphs). Fixing the single width glyphs will not be an easy or quick coming solution

[2015-10-08 04:33] cj commented on #78
@ryanoasis The font I'm using is `Pragmata Pro` I've tried single and double width.  I've also tried mono and not mono version of the fonts in both styles.  Still the same issue :/

[2015-10-08 05:04] cj commented on #116
@ryanoasis I think it is related.  I replied in #78

[2015-10-08 05:59] rscircus commented on #78
@ryanoasis, OK, it worked out. 👍💫 However, I was a bit confused, as gnome-terminal shows "DejaVu Sans Mono for Powerline" for the patched font using double-width glyphs and happily ignored all the other patched icon-names in the TTF filename.

[2015-10-08 06:37] aborilov commented on #108
![screenshot](https://cloud.githubusercontent.com/assets/2526284/10359288/cb163d06-6d9f-11e5-9912-2250cf3cf159.png)

It's better now, but not all icons shows properly.

[2015-10-14 00:03] ryanoasis commented on #115
@blueyed Sorry that I have been unable to look into this yet. Didn't see anything in `:messages` after executing. Maybe you are right and that is specific to Neovim.

[2015-10-14 10:06] blueyed commented on #115
@ryanoasis
It does not happen reproducible / always for me, but only sometimes - I have not found a pattern/way yet to trigger it.

I think there might be a better/simpler way to handle and clean up the entries?

[2015-10-15 13:56] ryanoasis commented on #108
@aborilov can you try updating whatever font you are using to the latest version?

Or if you could send the font to me I can verify if the glyph is missing or not

[2015-10-15 17:01] aborilov commented on #108
https://github.com/aborilov/dotfiles/blob/master/.fonts/Inconsolata%20LGC%20for%20Powerline%20Plus%20Nerd%20File%20Types%20Mono.ttf
Here's pathed font.
and here
https://github.com/Gonzih/inconsolata-lgc-for-powerline/blob/master/Inconsolata%20LGC%20for%20Powerline.ttf
original font

[2015-10-19 14:13] cj commented on #116
@ryanoasis hope you had a good weekend.  I sent you a message on gitter.

[2015-10-20 07:12] mudox commented on #115
I run into the same problem both in my Neovim & Vim running in iTerm2.
[code]
I got the panic:
E16: Invalid range

[2015-10-20 07:38] mudox commented on #115
The cause of problem is the adoption of the old regex engine by `set regexengine=1`, I set it to 1 in my vimrc.

[2015-10-25 13:25] mudox opened #117 "press F5 in Cltrp MRU mode got a panic"
When I pressed F5 to get rid of no more existed files, I got
![screen shot 2015-10-25 at 9 19 37 pm](https://cloud.githubusercontent.com/assets/2283394/10715798/46b979b6-7b5e-11e5-8912-ce26f27c168f.png)
After I added `let g:webdevicons_enable_ctrlp = 0`, the panic gone

[2015-10-28 17:26] trodrigu opened #118 "OS icon displays as Linux with Neovim on Mac"
This is minor as I like penguins, but why would it be showing a Linux Penguin instead of an Apple in Neovim?  Thanks man these icons are money.

[2015-10-28 20:22] ryanoasis commented on #118
@trodrigu haha.

The deciding factor is the file's format, check `:echo &fileformat` to see if it is returning `unix`.

For reference on how it should be working see #66

Thanks for the kind words about the icons, actually most of them are *not* created by me. I have only created a few by hand and the rest have been pulled from other sources

[2015-10-28 20:30] ryanoasis commented on #117
@mudox Thanks, replicated it

[2015-10-29 15:37] robertbnd opened #119 "HTML icon not working"
Hi! Just a question Why all icons are working correctly but html is a rare simbol?
![html](https://cloud.githubusercontent.com/assets/4907027/10823269/7c1941e4-7e20-11e5-89b9-633120fc67a5.png)

and github
![git](https://cloud.githubusercontent.com/assets/4907027/10823298/a344f74a-7e20-11e5-880c-524a164f3eda.png)

[2015-10-30 03:51] trodrigu commented on #118
It is in fact returning `unix,dos`

[2015-10-31 12:45] robertbnd commented on #119
The problemas was I had installed Font Meslo  https://github.com/powerline/fonts because on the github of airline is the font we need install.  I deleted it.

[2015-10-31 14:46] ryanoasis commented on #119
@robertbnd Ah okay glad you got it figured out :smile: . I am closing this issue for now then :+1:

[2015-10-31 14:46] #119 closed

[2015-10-31 15:02] ryanoasis commented on #118
It seems that the file itself does not have Mac line endings but seems like the old rule where Mac would use (CR) now on OS X it is not the case (LF) ?

You can try setting `set ffs=mac,unix,dos` in your `vimrc` and see if that does what you want :blush:

[2015-10-31 15:29] ryanoasis commented on #115
Update:

I was not able to replicate the issue on `CtrlPMRUFiles`

but I was able to replicate it with @mudox given example (on vim and gvim):
`let t = "\ue0a0 and \ue0b0" | echo t | echo substitute(t, "[-]", "", "")`
when
`set regexpengine=1`

Changing it to something like this might end up working (although seems eo be removing extra character):
`let t = "\ue0a0 and \ue0b0" | echo t | echo sub

[2015-10-31 16:57] mudox commented on #115
let t = "\ue0a0 and \ue0b0" | echo t | echo substitute(t, "[\%xe000-\%xf8ff]", "", "")

I looked into the doc `:help /collection`, in the collection syntax, the syntax `\%xhhhh` is considered as literal characters separately, not an atom denoting a unicode character, so the code above just removed the first character 'a' found which falls between range [0-\\].

The `:help /collection` also said,

[2015-11-02 02:04] ryanoasis commented on #115
Great info thanks! :+1: I will try to look more into this too when I can

[2015-11-02 02:05] ryanoasis commented on #117
Ouch this one hurts, looks like I have to copy a few more methods to get the ctrlp override working :worried:

[2015-11-02 02:55] ryanoasis commented on #116
@cj I finally got around to trying the fonts you sent me.

Looked okay on Linux and also tried Windows but using the font in `gvim` it would crash :worried:

Then tried `Babun (mintty)` with my own patching of PragmataPro. I could not get the "true" mono patched version of `PragmataPro` to show up in `Options > Text > Font`. Were you able to get the font to show up (it sounds like you were)?

[2015-11-02 13:02] ryanoasis commented on #108
Sorry for the delayed response, I will try to check this out

[2015-11-02 13:06] ryanoasis commented on #94
This should be ready to go but not sure when it'll get merged. I will just keep attaching this to the latest milestone until it gets merged in the vim-startify repo

[2015-11-02 21:23] trodrigu commented on #118
After reading [this](http://vim.wikia.com/wiki/File_format) it seems as though Mac OS X endings are in fact line feed (LF).  Also it is designated as `unix` so I added in an `if` to see if the OS is `Darwin` in this [pull](https://github.com/ryanoasis/vim-devicons/pull/121).

[2015-11-02 22:22] ryanoasis commented on #118
Good stuff. Thanks

[2015-11-04 16:58] cj commented on #116
@ryanoasis Thank you for taking a look.  It doesn't actually show up in the menu, you have to manually set the font in the config.  Feel free to message me on gitter and I can screenshare with you.

[2015-11-04 20:59] ryanoasis commented on #116
Ah okay, can you tell me how to set it in the config?

I can maybe do a screenshare... just not sure when will be the best time.

[2015-11-04 21:56] ryanoasis opened #122 "Add tests for build process (Github Actions)"
implement travis ci

add tests later?

[2015-11-08 02:29] ryanoasis commented on #117
Actually I am going to discontinue the support for the kien ctrlp repo  (https://github.com/kien/ctrlp.vim) and only support the active ctrlp fork (https://github.com/ctrlpvim/ctrlp.vim).

This will be easier going forward

[2015-11-08 05:43] mudox commented on #117
I've switched to [ctrlpvim/ctrlp.vim](https://github.com/ctrlpvim/ctrlp.vim) for a while, nice fork.

[2015-11-09 17:39] ryanoasis commented on #117
@mudox if you are using [ctrlpvim/ctrlp.vim](https://github.com/ctrlpvim/ctrlp.vim) can you try updating it to the lastest master?

Upon updating (at least for me) I can no longer replicate the issue.

There was recently a [PR](https://github.com/ctrlpvim/ctrlp.vim/commit/d13e8ee2b543e8fdc247dd0fb1495e16976ca423) that got merged for vim-devicons support (without all the messy hack that is required

[2015-11-09 20:17] mudox commented on #117
:+1: It's fixed, thank you very much

[2015-11-10 15:55] cj commented on #116
@ryanoasis sorry, just saw this.  I'm free whenever.  Just message me on gitter.

`.babun/cygwin/home/{home folder}/.minttyrc`

then just add: `Font=PragmataPro Mono Plus Nerd File Types`

[2015-11-14 22:44] jrobeson opened #124 "instructions for non patched fonts?"
I'm not really aware of the performance or any other implications for this, but this does seem to be a valid way of using the devicons and powerline fonts without patching.

[code]

[code]

NOTE: devicons shows up as icomoon

If anybody has any reasons why it's a bad idea, then let me know.

[2015-11-20 03:54] ryanoasis commented on #124
Thanks! I really haven't had a chance to look into this but I will. I remember reading something about it in the powerline repo. From what i understand it is not a 100% compatible solution but seems to work in most cases.

[2015-11-20 03:59] ryanoasis commented on #88
Sorry for the late follow up. @washtubs is this still an issues?

If you use pull the latest https://github.com/ctrlpvim/ctrlp.vim it _should_ be fixed since my PR.

I will test this out tomorrow. Cheers.

[2015-11-21 06:13] her opened #125 "Installation Instructions"
Hey devicons,

I'm pretty confused on how to install vim-devicons and thought I would open this issue with the purpose of understanding the process while clarifying it for the rest of the community–and then rolling this into an updated readme.md for the project.

### What's Confusing:

[**Unstable-File-Paths**](https://github.com/ryanoasis/nerd-fonts#unstable-file-paths) on **ryanoasis/_nerd-fonts

[2015-11-21 15:42] ryanoasis commented on #94
This is done: https://github.com/mhinz/vim-startify/commit/c193556225af93405cc87518781d48cf932efc2f

I will just add info to the readme that support is working in [v0.7.0](https://github.com/ryanoasis/vim-devicons/milestones/v0.7.0)

[2015-11-21 17:36] #110 closed

[2015-11-21 17:36] #112 closed

[2015-11-21 17:37] #94 closed

[2015-11-21 17:37] #117 closed

[2015-11-21 17:37] #118 closed

[2015-11-21 17:39] ryanoasis commented on #88
Actually, sorry this still looks to be an issue :cry:

[2015-11-21 17:46] ryanoasis commented on #125
@her

Thanks for the greatly detailed info. It is much appreciated. :+1:

These are great ideas and yeah I see now there are inconsistencies and in some parts possibly not the easiest to follow :disappointed:

Let me know if you need help setting things up in order to submit a PR (as you can see pretty much all PRs eventually make it in) :+1:

[2015-11-21 17:52] ryanoasis commented on #95
@michaelmrose It has been a while :stuck_out_tongue: I am going to close this. Please re-open if you still have the issue. Thanks!

[2015-11-21 17:52] #95 closed

[2015-11-21 22:08] her commented on #125
Okay great 🙂 thanks @ryanoasis

Are you going to be on gitter at all?

[2015-11-21 22:32] ryanoasis commented on #125
@her I am sometimes but not very often. If the gitter room becomes more active I will probably be on it more. I once in a while check in on it.

[2015-11-21 22:42] her commented on #125
Okay well I added you on Twitter @eislz maybe we can DM there? I just want to be able to clarify ideas before submitting a PR request, but if not that's cool too 😊 I'll submit a PR once I get devicons running.

[2015-11-22 01:55] her commented on #125
Hey quick update I got most of it working 🙂

[![https://gyazo.com/e8ed6697624ebaa21bf97253a0a6020f](https://i.gyazo.com/e8ed6697624ebaa21bf97253a0a6020f.png)](https://gyazo.com/e8ed6697624ebaa21bf97253a0a6020f)

But sadly my UTF icon is not an Apple?

I'm going to spend sometime tonight working on clarifying some of the readme.md

Any ideas how I can correct the Linux logo and make it Apple's?

[2015-11-22 02:23] her commented on #107
Which status line are you using?

[2015-11-22 02:30] her commented on #125
lol I just noticed you merged a change, it's fixed 😉

[![https://gyazo.com/4cd782f7f5455ba04a1845f7085bc897](https://i.gyazo.com/4cd782f7f5455ba04a1845f7085bc897.png)](https://gyazo.com/4cd782f7f5455ba04a1845f7085bc897)

[2015-11-22 03:07] her opened #126 "Misaligned Glyphs - Patch Myself?"
[![https://gyazo.com/fa5b1e4bea796a1c428007401ef2604c](https://i.gyazo.com/fa5b1e4bea796a1c428007401ef2604c.png)](https://gyazo.com/fa5b1e4bea796a1c428007401ef2604c)

Any idea what's causing this?

I tried setting Non-ASCII font to 12 (my default font is 13) that only half fixed the issue but broke the other glyphs

[![https://gyazo.com/b64128b939121388a63bd3dc7c9029ca](https://i.gyazo.com/b64128b

[2015-11-22 03:34] ryanoasis commented on #126
The patcher is not supposed to override Powerline   glyphs if the font contains  it already but seems to not be working in this case.  https://github.com/ryanoasis/nerd-fonts/blob/master/gotta-patch-em-all-font-patcher!.sh#L65

I'll try looking into this, maybe tomorrow. Thanks

[2015-11-22 03:45] her commented on #126
Well I should mention I didn't patch Source Code Pro-Powerline.

I downloaded your patched fonts, moved the ones I needed to `~/Library/Fonts/`

[![https://gyazo.com/fa40d059c535f0702aa96113f4835ac2](https://i.gyazo.com/fa40d059c535f0702aa96113f4835ac2.png)](https://gyazo.com/fa40d059c535f0702aa96113f4835ac2)

then within iTerm selected your font

[![https://gyazo.com/a315518d981dac2923aab6afcc9ca

[2015-11-22 04:20] her commented on #126
@ryanoasis

here's a comparison of E0B0 from Source Code Pro-Powerline and Nerd Fonts

(both are regular)

[![https://gyazo.com/70cfefa8fd6f19973a9a066c2cf67dfc](https://i.gyazo.com/70cfefa8fd6f19973a9a066c2cf67dfc.png)](https://gyazo.com/70cfefa8fd6f19973a9a066c2cf67dfc)

There does seem to be a bit of difference here

[2015-11-22 04:48] her commented on #126
Another update...

[![https://gyazo.com/34eedb3107964b7b73f058e73a34a724](https://i.gyazo.com/34eedb3107964b7b73f058e73a34a724.png)](https://gyazo.com/34eedb3107964b7b73f058e73a34a724)

Changing **Regular Font** within iTerm to 14pt and keeping Non-ASCII at 13pt fixes the misaligned glyphs.

[![https://gyazo.com/ad4f9448d5370d7fc921ee30eb8f0940](https://i.gyazo.com/ad4f9448d5370d7fc921ee30eb8f0940

[2015-11-22 05:41] zaferot opened #127 "Vim become slow after update to 0.7.0"
Hi All. After the upgrade to 0.7.0 my Vim is extremely lagging and there are strange visual artifacts. Please see that attached screenshot. I had to disable the plugin for now.
My vimrc is in my profile. I use patched Meslo LG S (patched via font-patcher).
Please let me know if you need any additional information.
Thanks!
![snapshot1](https://cloud.githubusercontent.com/assets/4263125/11322251/793

[2015-11-22 07:06] her commented on #127
Also getting this +1

[![https://gyazo.com/8f8104e79428bfda9cdd25673e514443](https://i.gyazo.com/8f8104e79428bfda9cdd25673e514443.png)](https://gyazo.com/8f8104e79428bfda9cdd25673e514443)

[2015-11-22 14:19] ryanoasis commented on #127
Eek! :open_mouth:

Yep I have questions:
* What OS? OS X?
* GUI or terminal vim?
* Did the problem immediately go away upon disabling devicons?
* was devicons the only plugin updated?
* with the issue occurring do you have anything in the  output of `:messages`?
* can you give me a list of your plugins or a link to your vimrc?

I will try to replicate today. Cheers

[2015-11-22 14:33] ryanoasis commented on #126
Thanks for the great detail truly :+1:

It will be helpful to me to look into issues with the fonts.

Ah I mean these fonts also just use the same patcher I mentioned above. If the unpatched version is okay then my guess is it is not ignoring the powerline glyphs as it should be.

[2015-11-22 14:56] zaferot commented on #127
HI @ryanoasis,

Arch Linux

Terminal

Yes. ( but Vim has to be restarted).

There were two or three plugins updated.

Now, when the plugin is enabled the issue is constant. It's not periodic or temporary.
`:messages` output gives me `Messages maintainer: Bram Moolenaar <Bram@vim.org>`.

[2015-11-22 19:10] her commented on #127
OS X, terminal vim -v 7.4.922

yes 😭

I had to disable the plugin before troubleshooting because it broke so hard 🤕

My current plugin list:

'altercation/vim-colors-solarized'
'scrooloose/nerdtree'
'tpope/vim-fugitive'
'airblade/vim-gitgutter'
'scrooloose/syntastic'
'junegunn/goyo.vim'
'Valloric/YouCompleteMe'
'junegunn/vim-emoji'
'Yggdroot/indentLine'
'itchyny/lightline.vim'

Hope that helps 😊

[2015-11-22 23:22] her opened #128 "Remove and Confine Font Installation(nerd-font) Instructions to Nerd-Font Repository"
Currently vim-devicons is sort of a blender of instructions encompassing and overlapping two repositories. Streamlining the instructions by siloing them in their respective repo's would really simplify the readme.md

Font-Configuration should fold into general devicons Instructions where Font Installation is moved to Nerd-Fonts

Users then are greeted by a sane process guide

Get Font > Install Pl

[2015-11-23 02:19] epilande commented on #127
Also noticed my vim got super laggy after updating to `0.7.0`. Once I disabled vim-devicons, the lag went away.

I'm using OSX, iTerm, & Neovim.

[2015-11-23 17:48] her commented on #122
hey @ryanoasis not sure if this helps but I added a Rakefile to my PR on 'Instructions' branch, but this pleased the robo and the build is passing...

so it's a start? 🙃

[2015-11-23 17:53] ryanoasis commented on #122
@her Thanks. No problem, you don't have to worry about the build failing for now :smile: because I dont really have any tests yet :blush:

[2015-11-23 17:58] her commented on #122
Well at least now there are pretty green checks✅ in the meantime? 😆 haha

[2015-11-24 03:24] ryanoasis commented on #127
Here is the fix if anyone needs it ASAP: https://gist.github.com/ryanoasis/7be48afae7c700d1a465  :tada:

^ caches the system call, it was my fault that I didn't realize that new system call in the PR would be executed SO often

I will push something tomorrow :sleeping:

[2015-11-24 03:33] her commented on #127
thanks @ryanoasis! good stuff 🤓👏🏻

[2015-11-24 13:15] #127 closed

[2015-11-24 13:41] ryanoasis commented on #128
These have both been merged. This is done I think. Closing (reopen if there is more to it).

[2015-11-24 13:41] #128 closed

[2015-11-24 13:51] ryanoasis commented on #125
@her I believe a majority of this is now done.

---

One part I see left would be:

Basically I added that 'unstable paths' warning because people were using that in scripts to get the font but the issue is on `master` the file paths have been changing to make them less and less cumbersome.

I think it is probably best to replace `master` in download references with the latest version, that way if

[2015-11-27 08:03] her commented on #125
Okay for now I'll close this 🙂

[2015-11-27 08:03] #125 closed

[2015-11-28 19:48] Arelav opened #130 "Error when using open/close symbol for folders"
When i set in my .vimrc:
let g:DevIconsEnableFoldersOpenClose = 1

I accept the error when pressing o to open  folder in NERDTree:

Error detected while processing function nerdtree#ui_glue#invokeKeyMap[1]..178[26]..177[3]..WebDevIconsNERDTreeMapActivateNode:
line   32:
E119: Not enough arguments for function: 140

[2015-11-29 16:16] mhartington opened #131 "Unite file_rec/async question"
Is there any particular reason why you the icons won't work with unite's `file_rec/async` search method?

[2015-11-29 16:26] mhartington commented on #131
Added file_rec/async to https://github.com/ryanoasis/vim-devicons/blob/master/plugin/webdevicons.vim#L398

[code]
Seems to work fine in my tests. Would love to make a PR for this.

[2015-11-30 15:45] ryanoasis commented on #131
@mhartington Good stuff I think! :+1:

I can't remember the exact reasoning and I don't think it was a good one (I am not a Unite regular user so I didn't use/test all the types).

[2015-11-30 16:02] ryanoasis commented on #130
@Arelav Thanks for the report!

This might be due to latest NERDTree 5.0.0 release: https://github.com/scrooloose/nerdtree/blob/master/CHANGELOG

I will take a look

[2015-11-30 18:46] mhartington commented on #131
If you have any unit test or anything I may need to ping you about that. Never unit tested something in vim before.

Mike Hartington

[2015-11-30 21:47] thornycrackers commented on #130
I am also having a similar issue with this:

Error detected while processing function nerdtree#ui_glue#invokeKeyMap..73..72..WebDevIconsNER
DTreeMapActivateNode:
line   32:
E119: Not enough arguments for function: 35

[2015-11-30 22:10] ryanoasis commented on #131
@mhartington There is currently no unit testing in place. I would love to have some unit tests ideally but maybe later. I am working to get at least some _basic_ tests integrated with Travis CI: mostly to check for errors in using the plugin/settings.

[2015-11-30 23:30] ryanoasis commented on #130
**update:**

works from: https://github.com/scrooloose/nerdtree/commit/a0de028688b4802de65c1b17963d7e5479035530 and older

breaks on: https://github.com/scrooloose/nerdtree/commit/665f326577e319f4fd1321ee664365b0a81b8d37 and newer

[2015-12-13 16:48] danihodovic commented on #106
:+1:

[2015-12-19 04:22] d0u9 opened #133 "icons in NERDtree can be only shown half."
A picture is worth a thousand words:

![https://github.com/d0u9/test_repository/blob/master/pics/20151219-0.png?raw=true](https://github.com/d0u9/test_repository/blob/master/pics/20151219-0.png?raw=true)

There are dots shield half part of each icon in NERDtree.

Also, the space between icons and characters seems to wide...

PS: I use neovim and iTerm2 in OSX 10.11.2

[2015-12-19 04:35] ryanoasis commented on #133
For the dots try:
[code]

For spacing you can adjust with:
[code]

[2015-12-19 04:42] d0u9 commented on #133
@ryanoasis Works! Thank you!

[2015-12-19 05:24] ryanoasis commented on #133
Hey no problem. Maybe I should consider setting this in the plugin by default

[2015-12-20 18:22] Jose-27 opened #134 "getting some weird characters for the icon folder."
not sure what is happening here. I am getting some weird characters for the icon folders. I am using ubuntu 14.04 Any help will be appreciated
![screenshot from 2015-12-20 13 18 56](https://cloud.githubusercontent.com/assets/5156260/11919302/96b70d54-a71c-11e5-9b83-72b11d7281f8.png)

[2015-12-20 18:41] ryanoasis commented on #134
What font are you using?

[2016-01-05 04:39] xavierartot opened #136 "Mac and Terminal"
Hi,
I'm using the termimal on Mac.
And for me it doesn't work
I'm using Iterm

line 167
[code]

the plugin is at a end:
[code]

I have a cross in airline and nerdTree nothing happens?

my .vimrc
https://github.com/xavierartot/github-vim/blob/master/.vimrc

[2016-01-20 14:32] ryanoasis commented on #136
Sorry for the delayed response. Could you attach a screenshot of what you see (might help me more quickly identify possible issues)?

[2016-01-20 14:33] ryanoasis commented on #134
@Jose-27 are you still having this issue or were you able to resolve?

[2016-01-21 03:45] Jose-27 commented on #134
sorry not anymore, thanks anyways

[2016-01-21 12:19] ryanoasis commented on #134
Thanks for confirming. Going to close this.

By the way, just for details sake, do you remember what the solution was?

[2016-01-21 12:19] #134 closed

[2016-01-30 05:35] michaelmrose opened #137 "Plugin probably shouldn't show interstitial error message about ctrlp"
While this is actually very useful information I don't think any plugin on principal should cause vim to pause to show users information on load.

In the context of a plugin manager ONE plugin, your plugin manager informing users about no longer supported plugins with an up to date fork would be a great feature.

However plenty of people use a large number of plugins imagine how annoying using vim

[2016-01-30 14:00] ryanoasis commented on #137
Thanks. Good points.. maybe I didn't realize how annoying this would be (especially since I don't use the unsupported plugin). :+1:

Do you by chance know to accomplish this?

It might be some time before I get to this. If it is too long PR are very welcomed :smile:

[2016-01-31 15:47] cj commented on #116
@ryanoasis have you had a chance to look into this further?  I just tried a fresh install and the latest font patcher.  I still get the same issue

[2016-02-01 00:12] ryanoasis commented on #116
@cj No sorry I have not had a real chance yet.

I think I did quickly try what config settings you gave me but I can't exactly remember what the result was.

[2016-02-01 07:09] michaelmrose commented on #137
I think the easiest way would be to drop a file in the plugins own dir and test for the existence of the file before showing the message.  Preferably after things have loaded so as not to slow that down

[2016-02-02 16:05] cj commented on #116
no worries.  let me know when you're around and free.  I'll keep my gitter.im open.  I'd love to get to the bottom of this :)

[2016-02-03 19:33] robertbnd opened #138 "wrong icon"
![screenshot from 2016-02-03 13-23-28](https://cloud.githubusercontent.com/assets/4907027/12794409/812d7a8c-ca7a-11e5-84e9-41b9bdfad6ae.png)

Do you have a idea why I get the wrong icon?

[2016-02-04 12:33] ryanoasis commented on #138
Which font are you using?

What version of vim-devicons do you have?
`echo webdevicons#version()`

Can you try downloading the latest version of that font from [Nerd Fonts](https://github.com/ryanoasis/nerd-fonts) ?

[2016-02-06 03:59] robertbnd commented on #138
Sorry I don't know what happened... now  it's works thanks, I believe I installed the wrong font.

[2016-02-06 22:09] ryanoasis commented on #138
Great! Thanks for the update! :tada:

Closing.

[2016-02-06 22:09] #138 closed

[2016-02-07 23:01] ryanoasis commented on #122
Pushing this off again to get more immediate things done (including PRs and fixes that are waiting to be pushed up!)

[2016-02-07 23:26] ryanoasis commented on #130
feel free to test this out in [0.8.0 branch](https://github.com/ryanoasis/vim-devicons/tree/0.8.0)

Not fully tested but seems stable

[2016-02-08 19:56] #131 closed

[2016-02-08 19:56] #130 closed

[2016-02-09 17:25] ryanoasis commented on #136
@xavierartot are you still having this issue?

[2016-02-09 17:27] xavierartot commented on #136
no

[2016-02-09 17:27] #136 closed

[2016-02-09 17:31] ryanoasis commented on #136
If you don't mind me asking, do you know/remember what the issue or fix was?

[2016-02-18 17:53] sergei-dyshel opened #140 "Unite file_rec source shows absolute paths instead of relative"
Hi,
When `g:webdevicons_enable_unite == 1` and running Unite with `Unite -start-insert buffer file_rec/async:.` it show absolute file paths instead of relative.
When  `g:webdevicons_enable_unite == 1`, it works as expected.

[2016-02-18 17:53] sergei-dyshel commented on #140
Also mentioned here https://github.com/Shougo/unite.vim/issues/991

[2016-02-18 23:29] ryanoasis commented on #140
@sergei-dyshel Thanks! Confirmed.

I think I remember seeing https://github.com/Shougo/unite.vim/issues/991 a while back but never created a ticket or took the time to dig into it.

Seems like when it is buffer we are printing out the filename and path. should probably just be filename in this scenario.

---

for reference:

seems to have occured with fix/change: https://github.com/ryanoasis/vim-d

[2016-02-20 21:59] johgh opened #141 "vim ctrlspace"
Hi,

Could it be possible to implement support for [vim-ctrlspace](https://github.com/vim-ctrlspace/vim-ctrlspace)? It is a really interesting plugin..

[2016-02-20 23:24] ryanoasis commented on #141
@johgh Hey yeah it should be possible. I have heard or seen ctrlspace before but never used it.

A quick look at the help file seems like it might not be too bad to implement but have to see.

Yeah it does look like a good plugin. Good suggestion so thank you.

Anyone else use ctrlspace?

[2016-02-21 02:49] ryanoasis commented on #113
@lerrua I am going to close this. I was not able to replicate this and there was no follow up.

Feel free to re-open though if you still have the issue :smile:

[2016-02-21 02:49] #113 closed

[2016-02-21 03:02] ryanoasis commented on #108
@aborilov I am really sorry for the late reply. I did download your patched font. The glyphs look correct at a glance.

One this I did notice is that the version is a bit old (makes sense considering the lateness of my reply)

![selection_20_02_16_21 58 37_970x981_001](https://cloud.githubusercontent.com/assets/8083459/13200593/89c8d6e0-d81d-11e5-8e7e-45d8cfc1f4c1.png)

A few ideas:

* try to repa

[2016-02-25 17:56] ryanoasis commented on #115
The NFA seems to be working for me:

per `:h NFA`:
[code]

Testing:

[code]

This way the plugin doesn't have to mess with setting regexpengine and risk messing up other code or plugins.

hmm... actually I just tested this in neovim on Fedora and the one with setting `regexpengine=1` does *not* work with the prepended pattern :cry:

[2016-02-29 15:30] rahmatawaludin opened #142 "Is it possible to colorize only the icon?"
Just wondering, I know that we could colorize the filename with the icon. How about colorize only the icon? Is that possible?

Something like js icon in yellow, html5 icon in orange, php icon in purple, ruby icon in red, etc..

[2016-02-29 18:24] ryanoasis commented on #142
Yes, it is. I was just messing around with this because of your questions.

Similar to https://github.com/scrooloose/nerdtree/issues/433#issuecomment-92590696

Here is what worked for me:

[code]

[2016-03-01 02:10] rahmatawaludin commented on #142
Hmm.. I still can't get it to work. Here's what I do..

![screen shot 2016-03-01 at 9 09 06 am](https://cloud.githubusercontent.com/assets/1274849/13415430/525f1d5a-df8d-11e5-9458-e0f756d43c9a.png)

I even put those line on my vimrc and restart my vim.

[2016-03-01 02:32] ryanoasis commented on #142
Hmm I put them at the bottom of my `vimrc`. I just checked that it works for me in terminal vim (xfce terminal).

I don't _think_ iTerm or neovim should have any particular issues.

You could make sure they show up for nerdtree syntax (`:syn` when in a nerdtree buffer).

I don't have any particular ideas right now :cry:

[2016-03-01 03:20] rahmatawaludin commented on #142
Never mind, its not really important. You could just close this issue.. :)

[2016-03-01 18:48] ryanoasis commented on #142
Hmm okay, well if you do get it working or still want some help ping back on this issue :smile:.

Actually this is good info I think so I will probably leave this issue open and at the very least add what worked for me to the readme and/or wiki :+1:

[2016-03-02 01:05] betoharres commented on #137
I don't use the unsuported version and somehow I'm getting the same message.

[2016-03-02 02:44] beanaroo commented on #124
This works on Vte terminals (gnome-terminal, sakura, termite etc.) but terminals like urxvt and Xterm seem to only load one font.

[2016-03-02 03:00] ryanoasis commented on #137
@betoharres Are you sure you have the latest version of [ctrlpvim/ctrlp.vim](https://github.com/ctrlpvim/ctrlp.vim)?

Because it is searching for a variable I added in a [PR](https://github.com/ctrlpvim/ctrlp.vim/pull/104) (`g:ctrlp_mruf_map_string`)

[2016-03-02 03:01] beanaroo commented on #126
I believe this could be a problem with the powerline glyphs provided by Adobe Source Code Pro, [referenced here](https://github.com/adobe-fonts/source-code-pro/issues/43#issuecomment-93478072).

It's noted that font anti-aliasing/subpixel rendering/hinting settings and terminal used may complicate things.

Personally, I have Sauce Code Pro working on Termite (VTE) and it can fall back to the other

[2016-03-02 03:02] ryanoasis commented on #124
@beanaroo Thanks that makes sense. I haven't really followed up on this :blush: . It is marked as a future item for now at least.

[2016-03-02 03:10] jrobeson commented on #124
i'm suprised it doen't work in any that relies on fontconfig, but I did find out there's no equivalent technique on mac osx (outside of an X instance)

[2016-03-02 19:27] rahmatawaludin opened #144 "Is it possible to dynamically disable devicons when patched font not found?"
Just wondering. Is this possible?
Or just simply a command to disable devicons manually when I've started vim.

[2016-03-02 20:52] ryanoasis commented on #144
That is interesting. I am not so sure. If it is gui vim I guess you could check the value of `:set guifont?` and do some matching on it to look for 'Nerd Fonts' or similar but even this wouldn't be 100%.

In vim it is determined by the terminal so I don't think there is such a way.

[2016-03-02 20:56] ryanoasis commented on #115
@blueyed

This got me thinking and I think I may have a possibly better way, see below

--

@blueyed , @mudox

Here is a possible solution I may go with:

https://gist.github.com/ryanoasis/53a8d4c96f7acddaf93d

And here is a profile comparing the 3 (basically no performance difference):

https://gist.github.com/ryanoasis/4ac41f1f69e80aeac889

[2016-03-02 23:41] rahmatawaludin commented on #144
Is there an ex command to disable devicon when I'm already in vim?

On Thu, Mar 3, 2016, 3:52 AM Ryan L McIntyre <notifications@github.com>
wrote:

[2016-03-02 23:58] ryanoasis commented on #144
You can disable the plugin with:

`let g:webdevicons_enable = 0` from the [config options section](https://github.com/ryanoasis/vim-devicons#extra-configuration)

[2016-03-04 22:18] ryanoasis commented on #115
Please try out [0.8.1](https://github.com/ryanoasis/vim-devicons/tree/0.8.1) branch. If no feedback or no issues reported I will merge into master Monday. Thanks :bow:

[2016-03-04 22:19] ryanoasis commented on #140
Please try out [0.8.1](https://github.com/ryanoasis/vim-devicons/tree/0.8.1) branch. If no feedback or no issues reported I will merge into master Monday. Thanks :bow:

[2016-03-04 22:19] ryanoasis commented on #144
Closing this. re-open if you need more information or help :smile:

[2016-03-04 22:19] #144 closed

[2016-03-06 22:12] #115 closed

[2016-03-06 22:12] #140 closed

[2016-03-06 22:12] #142 closed

[2016-03-14 16:03] squfrans opened #145 "copy paste issues"
after installing the plugin and fonts, i have problems copy pasting
items followed by the icons. for example a line from unite git source:

   .gitignore

trying to select ".gitignore" will select the space in front of it as well.
same issue in nerdtree.  the mouse cursor seems to be offset
by a number of characters, finishing the word also requires going
further behind the end of the word.

i am

[2016-03-15 01:07] jdonaldson opened #146 "haxe support"
I'd like a haxe icon:
http://haxe.org/

Here's an svg:
https://commons.wikimedia.org/wiki/File:Haxe_logo.svg

[2016-03-15 01:11] jdonaldson commented on #146
wrong repo for this request.

[2016-03-15 01:11] #146 closed

[2016-03-15 02:10] ryanoasis commented on #146
:stuck_out_tongue_closed_eyes: No problem.

Which repo was this meant for just out of curiousity? :smile:

[2016-03-15 05:26] jdonaldson commented on #146
https://github.com/vorillaz/devicons/issues/99

I thought this repo tracked the actual font assets.

[2016-03-15 13:10] ryanoasis commented on #146
I see. Yeah then [devicons](https://github.com/vorillaz/devicons) is probably the best place to request :+1: , however alternatively I have added additional glyphs on the [Nerd Fonts project](https://github.com/ryanoasis/nerd-fonts) in case you are unable to get the request through for whatever reason

[2016-03-15 15:32] jdonaldson commented on #146
Thanks!  Good to know there's another option.  I appreciate you putting together this package, several people were asking what app i was using, not realizing it was a terminal screen.

[2016-03-15 15:57] dominikduda opened #147 "Replacing underscores is bad."
In Ruby on Rails underscore before file name indicates that file is [partial](http://guides.rubyonrails.org/layouts_and_rendering.html#using-partials). I am pretty sure other langs/frameworks use same convention.

I didn't go very deep into this but as far as I know vim-devicons plugin removes (or replaces) underscores for some reason (e. g. in NERDTree). This isn't good. Not knowing at the first

[2016-03-15 16:34] ryanoasis commented on #147
First, thanks for the report.

I am not too sure that it is this plugin but it is possible or maybe a combination with other plugins is causing underscores to be removed. I just haven't encountered it yet personally.

So far I have not seen what you are describing and I just did a quick test of a new file as viewed in NERDTree below:
![selection_15_03_16_12 29 51_392x328_001](https://cloud.githubu

[2016-03-15 16:38] ryanoasis commented on #145
Ugh I thought I replied but I guess I did not actually click 'comment' :angry:

Anyway.....

Are you copying and pasting with mouse (assuming gvim) or are you yanking and pasting the filename?

I think I am seeing a similar but different problem when I use `yaW`, e.g.:

`yaW` when my cursor is on the **f** of `favicon.ico` and then I `p` it into a buffer I get: `   ]favicon.ico`

I think I need to

[2016-03-15 17:08] ryanoasis commented on #146
Hey no problem and thank you!

:laughing: that is awesome

[2016-03-15 18:25] dominikduda commented on #147
So I fixed the problem  (I'm not sure how) and I can't go to back to buggy state.

I observed in on like 2-3 files, so I think all of the underscores were replaced.

I added this to my .gvimrc (Although removing it doesn't make bug come back):
[code]

Im leaving list of my plugins in case bug will happen to somebody else in the future (So there will be something to compare with):
[code]

I was mes

[2016-03-16 10:28] squfrans commented on #145
yes, i am using the mouse in gvim (macvim)

[2016-03-16 12:28] ryanoasis commented on #147
Thanks, I want to at least try to replicate it so I will leave the issue open for now.

It probably won't be anytime soon that I get to this however unless it starts popping up more

[2016-03-16 12:57] ryanoasis commented on #145
Thanks, I'll look into it :+1:

[2016-03-30 13:46] iurimatias opened #149 "how to type a character?"
If one wants to type character f009 from a [font](https://github.com/ryanoasis/nerd-fonts). how is that done?

[2016-03-30 13:58] #149 closed

[2016-03-30 14:13] ryanoasis commented on #149
I assume you figured this out? :smile:

[2016-03-30 16:07] iurimatias commented on #149
indeed: ctrl + v + u + f009

[2016-04-07 09:21] code-geeker commented on #133
Hi ryanoasis ,
I'm in trouble with configuration.
![Alt text](http://puu.sh/o9hZe/cf2b6f9e14.png)

Version:
![Alt text](http://puu.sh/o9ioT/bfc47d5778.png)
It seems to occupy only one character bit.

Regards,
PengJun

[2016-04-07 15:19] ryanoasis commented on #133
I will try to test your vimrc, I think I found it on GitHub but could you post a link to the latest one?

In the meantime, are you using latest version of NerdTree and devicons?

Can you tell me which font you are using?

Is this macvim (gui) or vim on terminal?

[2016-04-07 15:40] code-geeker commented on #133
Hi ryanoasis,
Thanks for your reply
I just pushed the latest .vimrc file

Yes,they are both latest version.

This is the font:
![alt test](http://puu.sh/o9zd4/aff32ca62e.png)

It is macvim(gui)

I suspect that the differing versions of macvim cause it.
It works well on version 7.4-77 but doesn't work on 7.4-101 (https://github.com/macvim-dev/macvim/releases/tag/snapshot-101)

![alt test](http://pu

[2016-04-07 15:48] code-geeker commented on #133
BTW, It works well on vim on termina
![Alt text](http://puu.sh/o9Agb/a09e05db34.png)

[2016-04-13 11:41] dimitrieh opened #150 ""ls" with icon implementation of this? (SEE: https://github.com/ryanoasis/bash-devicons)"
sorry if this is not the place to ask!

I was wondering if there is an implementation of this for the "ls" command. So I get an overview of my files and directories within my shell, but with the icons! ;)

[2016-04-14 02:28] ryanoasis commented on #150
Not a problem.

Hey this is a really good idea. I thought I might have seen some similar implementations but can't remember where I spotted them (if at all).

If I get some time maybe I will throw something together (or of course feel free) :smile:

[2016-04-14 12:22] strages commented on #150
Would be awesome! Wil see ;) not really my kind of thing to produce though, would be awesome to use!

[2016-04-14 21:01] vohtaski commented on #110
I have exactly the same issue. Everything is fine in terminal
but is cut in MacVim (7.4).

I tried the proposed solution to add `autocmd FileType nerdtree setlocal nolist` to my `.vimrc`,
but with no success.

Are there some additional settings that I can try?
BTW, the icons are cut not only in NERDTree but also in vim-airline.

![screen shot 2016-04-14 at 22 59 36 pm](https://cloud.githubusercont

[2016-04-14 21:04] vohtaski commented on #110
actually I just noticed that there are dots.

In my case, there is not dots. Just cut icon, so maybe it's another issue

[2016-04-14 21:36] ryanoasis commented on #110
Uh oh :cry:

You can try tweaking this fix in the code to see if it gives any more clues: https://github.com/ryanoasis/vim-devicons/blob/master/plugin/webdevicons.vim#L557-L559

Other than that there are other settings but I don't see they would help: `g:WebDevIconsUnicodeGlyphDoubleWidth`, `WebDevIconsNerdTreeAfterGlyphPadding`

[2016-04-14 21:53] vohtaski commented on #110
I checked your code and it looks the problem might be with fonts or MacVim, because even in the code it's cut:
![screen shot 2016-04-14 at 23 46 47 pm](https://cloud.githubusercontent.com/assets/158421/14544872/810f8abe-029b-11e6-8d03-23bfaad572fe.png)

[2016-04-15 01:50] ryanoasis commented on #110
Hmm yes actually that is how I usually see it too because they are double width characters so they get a little messed up when viewed without any applied "fix" to their display.

Can you try to see if this helps things: `:set ambiwidth=double`

[2016-04-15 15:44] vohtaski commented on #110
Thanks a lot @ryanoasis !
`:set ambiwidth=double` did the trick. It works now!

[2016-04-15 15:50] ryanoasis commented on #110
@vohtaski Cool I am glad that actually worked for you, it also worked for me but caused some issues regarding powerline symbols using Airline:

![selection_15_04_16_11 48 43_663x156_001](https://cloud.githubusercontent.com/assets/8083459/14567040/2b551b4c-0300-11e6-828a-368fb95d7668.png)

[2016-04-18 07:22] vohtaski commented on #110
@ryanoasis Yep, I had the same issue, the bigger problem is that it also broke the indentLine plugin :(

[2016-04-27 10:37] alexanderjeurissen commented on #106
I really like this idea and have wanted this for a while as well. I think that the only way to achieve this is create a custom FZF source that appends the correct file icons in front of the filenames.

The problem with this approach is that we limit the user to using a specific FZF custom source and not have the devicons in all there already defined sources.

I'm willing to take this up and look i

[2016-04-27 14:49] alexanderjeurissen commented on #106
Ok so I've investigated it some more, and what I found so far is:
Creating a custom source where we execute the default `FZF_DEFAULT_COMMAND` and prepend the icon for each resulting line seems like a really cumbersome way to do this.

nonetheless altough it took me a full afternoon (I'm a vimscript novice) I got it done (adding icons to fzf) see below screenshot:

![screen shot 2016-04-27 at 16 43

[2016-04-27 15:05] ryanoasis commented on #106
@alexanderjeurissen Nice! Very cool. So this is for FZF in the terminal (executable)? Your previous comment I thought it was just the vim plugin of FZF.

Ah yup, I had a similar struggle with CtrlP (eventually sending a PR to more easily do some things).

Not sure if it will be of any help to your particular case but this is how I was stripping out the glyphs for CtrlP: https://github.com/ryanoasi

[2016-04-27 15:07] alexanderjeurissen commented on #106
@ryanoasis DONE.

code:

[code]

[2016-04-27 15:11] alexanderjeurissen commented on #106
as I said the only downside of this approach is that people have to use this function.. as we require control over the `source` and `sink` options 😢  But it makes use of the `$FZF_DEFAULT_COMMAND` which is nice because that is where people specify if they want to use find or ag etc.

this function however doesn't include buffer files and MRU, not sure if that's a deal breaker for a lot of people.

[2016-04-27 21:39] alexanderjeurissen commented on #106
I'll tackle some of the problems mentioned in my previous comment and refine the code. Expect a PullRequest somewhere this weekend. In the mean time people like ( @mhartington ) can use the snippet above ;-)

[2016-04-29 10:34] DemonCloud opened #151 "About autocomplete popuper"
Hi! friend.. am back...

about autocomplete popuper

![screenshot from 2016-04-29 18-29-29](https://cloud.githubusercontent.com/assets/7436361/14913908/ca482fee-0e38-11e6-97f4-561006b4a585.png)

and Vim

![screenshot from 2016-04-29 18-30-54](https://cloud.githubusercontent.com/assets/7436361/14913915/d2f795e4-0e38-11e6-82bd-0cac2556d0cb.png)

Please add the small icon on complete popup~

[2016-05-03 20:28] rosshadden commented on #150
Yeah I can see this being more general than just vim.  To the point where maybe you even eventually flip the title:  `devicons-vim`.  And have `devicons-unix`, `devicons-sublime`, etc.  But then again, who has time for that :wink:

[2016-05-04 01:29] ryanoasis commented on #150
Not totally opposed to that. I have already changed the repo and name once (was vim-webdevicons)

The name was partly based on http://vorillaz.github.io/devicons but I have added glyphs from other icon sets as well as some custom ones ([Nerd Fonts](https://github.com/ryanoasis/nerd-fonts))

[2016-05-07 02:50] ryanoasis commented on #151
@DemonCloud Hey long time no chat. Sorry for the delayed response.

That's a very interesting idea to show icons in the auto-complete!

--

Is that the font you were working on by the way?

--

This made me laugh :laughing: :

![awesome](https://cloud.githubusercontent.com/assets/8083459/15089887/c011c8e2-13dc-11e6-977d-42ec9a4742b1.png)

[2016-05-07 18:58] adelarsq opened #152 "missing config info for pattern based symbols in readme"
For some reason the config:

[code]

Don't work for files with name like ```jquery-1.7.1.js```, ```jquery-1.7.1.min.js```, ```jquery.min.js``` or ```jquery.js```, but works for ```jquery.js```:

<img width="337" alt="screenshot" src="https://cloud.githubusercontent.com/assets/430272/15093934/f2abb0bc-146b-11e6-977f-22495c7765dd.png">

Configs:

[code]

#### Requirements

- [x] I have searched the

[2016-05-07 19:25] adelarsq commented on #152
There is an undocumented config that did solve the problem:

[code]
With some time I will create a pull request for this.

[2016-05-08 00:47] ryanoasis commented on #152
Thanks that makes sense. The configuration is mentioned on the readme but you are right in that it doesn't exactly show very well how to use it. 👍

[2016-05-13 11:01] ryanoasis commented on #110
@vohtaski could you paste the output of `:version` for macvim?

I'm particular I want see which patches you have.
Thanks

[2016-05-13 11:07] ryanoasis commented on #133
@code-geeker Sorry for the delayed response. I am looking into this issue.

BTW for the terminal vim you showed can you give the output of `:version` there as well?

[2016-05-13 11:28] code-geeker commented on #133
@ryanoasis  Thanks for your response.
![Alt text](http://puu.sh/oQhon/6c07950c45.png)

[2016-05-13 11:33] code-geeker commented on #133
It goes like this in the MacVim.
![img](http://puu.sh/oQhFI/1fa30ef5b4.png)

[2016-05-13 22:21] ryanoasis commented on #133
Thanks. I will try to do some more digging

[2016-05-13 22:54] vohtaski commented on #110
here it is:
[code]

[2016-05-14 12:25] ryanoasis commented on #110
@vohtaski Thanks

[2016-05-18 23:09] dflupu opened #153 "nerdtree: no icons on newly created files"
Same as issue #33 which is closed.
I'm using the latest versions of nerdtree and vim-devicons.

#### Requirements

If you are **not** sure whether or not what you are reporting is actually an issue **or** you have a general question please message in the [Gitter Chat Room](https://gitter.im/ryanoasis/vim-devicons)

These items you acknowledge and mark off with 'x' please

- [x] I have searched the

[2016-05-20 17:07] s0r00t commented on #78
Using patched complete Inconsolata Mono, still having stretched icons in gVim.

[2016-05-21 17:41] ryanoasis commented on #153
Thanks ill try to replicate today

[2016-05-23 02:01] ryanoasis commented on #150
Hey this is pretty basic and fragile but I started on something: https://github.com/ryanoasis/bash-devicons

[2016-05-23 02:42] rosshadden commented on #150
Just my two cents:  I don't think you should call it `bash-devicons`.  `ls` is a unix binary, which really doesn't have anything to do with `bash`.  Many people don't even use `bash`; for example I use `zsh`.  And since you're prefixing the binaries with `devicons-`, it might make sense to be consistent with the name, calling it `devicons-<name>`, like `devicons-unix` or whatever you decide.

</ra

[2016-05-23 02:47] ryanoasis commented on #150
@rosshadden Thanks for the feedback.

Heh, I plead ignorance on that so thanks for the info.

I was thinking of actually splitting the 'ls' script into a separate repo (devicons-ls or something) and have the 'bash' portion basically just the function in bash that determines the filetype extension so it could be included with other scripts in the future.. or something :blush:

[2016-05-24 01:18] ryanoasis commented on #153
So far I am unable to replicate so far though I have not tried the exact setup you have.

Do you have a link to your `vimrc` you are using so I can test if there is anything specific in it?

[2016-05-24 17:01] dflupu commented on #153
I would have a hard time sharing my vimrc, since it's split into multiple files.
I went ahead and tested with a vimrc containing only the following
[code]
and the issue did not go away. Autoload directory only contains vim-plug. Also tested with pathogen.

[2016-05-24 20:27] ryanoasis commented on #153
@dflupu Ah okay thanks, I'll try again

[2016-05-25 16:01] tnguyen14 opened #154 "NERDTree: square brackets around icon on sourcing vimrc"
Whenever I try to source ~/.vimrc file when NERDTree is open, I get square brackets around the file icons like so:

<img width="186" alt="screen shot 2016-03-03 at 11 07 51 am" src="https://cloud.githubusercontent.com/assets/1652595/13500790/09a4c37a-e132-11e5-9f6a-73206d68b910.png">

This does not happen when I first start Vim and NERDTree, **only** when sourcing vimrc after vim has already opene

[2016-05-26 07:19] ryanoasis commented on #154
Thanks for the report. I'll try to debug when I get a chance but it won't be soon sorry

[2016-05-26 21:07] tnguyen14 commented on #154
Thanks Ryan. If there's anything I could do/ places I could look into, I'd be more than happy to help.

[2016-05-27 00:24] ryanoasis commented on #150
Going to close this out, considering this: https://github.com/ryanoasis/bash-devicons

[2016-05-27 00:24] #150 closed

[2016-05-27 00:36] ryanoasis commented on #154
Ah I think I know what this is, see if putting this in your `vimrc` this helps you:

[code]

--

I forgot I even had this in my `vimrc` and when I commented it out I was able to replicate your **exact** issue

This was also referred to in #71

Also it was added to the readme in the FAQ / Troubleshooting section: 'Issues after re-sourcing vimrc'

[2016-05-27 01:05] ryanoasis commented on #153
can you tell me what you get for the output of `echo g:NERDTreeUpdateOnCursorHold` ?

[2016-05-27 01:07] ryanoasis commented on #108
@aborilov Just pinging to see if you still have this issue (assuming you are still using Nerd Fonts or vim-devicons :blush: )

I'll give you some more time (especially since I replied so late initially) but then I will close this out.
Thanks

[2016-05-27 01:21] dflupu commented on #153
E121: Undefined variable: g:NERDTreeUpdateOnCursorHold
E15: Invalid expression: g:NERDTreeUpdateOnCursorHold

[2016-05-27 02:11] ryanoasis commented on #153
Hey thanks for testing that. Looks like you found a bug (oversight on my part).

See I use [nerdtree-git-plugin](https://github.com/Xuyuanp/nerdtree-git-plugin) and I stole/borrowed a fix idea from there for refreshing the nerdtree flags but looks like I forgot to even set that variable!

See my commit on the initial attempt at a fix: https://github.com/ryanoasis/vim-devicons/commit/710f3b2af7721b

[2016-05-27 05:46] aborilov commented on #108
Hi! Thanks for answer, for now all works great, of course still using Nerd Fonts with vim-devicons.

[2016-05-27 05:46] #108 closed

[2016-05-27 13:03] tnguyen14 commented on #154
Thanks @ryanoasis. Sorry I didn't make those connections before.

Just a minor question: now that I add that code in, upon sourcing vimrc, the NERDTree window collapses all existing directories that were open before. Is this the correct behavior?

[2016-05-27 13:46] ryanoasis commented on #154
Good point, it currently loses what is opened and the cwd.

It is correct behavior but I just added and tested something that should do what you want :smile:

I'll try to push something to a release branch today (along with something for #153)

[2016-05-27 13:49] ryanoasis commented on #108
Thanks!

[2016-05-27 13:50] ryanoasis commented on #88
This is actually a very annoying UX , so I am going to try to work on it next after a few other ones are completed

[2016-05-27 16:04] tnguyen14 commented on #154
Thank you for being super responsive! Let me know if you need help with testing it or sth.

[2016-05-27 22:11] ryanoasis commented on #154
Hey not a problem! Thanks for the report, but also letting me know that the refresh was 'too hard'.

If you want to help test I just pushed the fixes to [0.8.3](https://github.com/ryanoasis/vim-devicons/tree/0.8.3) branch let me know!

I had some problems with some icons being reset to the default icon when I resourced my `vimrc` but might just be my settings.

Anyway the refresh method should now

[2016-05-27 22:13] ryanoasis commented on #153
The fix is up on [0.8.3](https://github.com/ryanoasis/vim-devicons/tree/0.8.3) branch if you would like to test it out.

I won't be able to do any changes until Tuesday

[2016-05-31 11:57] dflupu commented on #153
I've tested it a bit. It does work, but it takes some time until the icon appears after a file is created. Seconds, even. Is it based on some kind of timeout ?

[2016-06-01 12:08] ryanoasis commented on #153
@dflupu Yeah basically it is as far as I understand. I will see if I can try to improve the speed a bit.

Try to see what you have set for `updatetime`

For me I have it set to [250 for `gitgutter` in my `vimrc`](https://github.com/ryanoasis/dotfiles/blob/master/.vimrc#L489) so that is why I probably see the icon show up fairly quickly, without it the default seems to be 2 seconds (2000).

[2016-06-01 12:24] ryanoasis commented on #153
Great! No problem :smile:

I will try to add this info to the readme for the next release

[2016-06-03 21:53] tnguyen14 commented on #154
@ryanoasis sorry for the late response. I could verify that a soft refresh on your `0.8.3` branch works and won't close the tree.

[2016-06-03 22:12] #153 closed

[2016-06-03 22:12] #154 closed

[2016-06-03 22:16] ryanoasis commented on #154
@tnguyen14 Hey no worries :smile: it's all good. As you can see by the way it is now been merged to master

[2016-06-05 07:58] lisposter commented on #133
same issue as @code-geeker

MacVim snapshot-104

 set guifont=Meslo\ LG\ M\ Regular\ for\ Powerline\ Nerd\ Font\ Complete:h12

[2016-06-08 01:08] ryanoasis commented on #133
Sorry I still haven't had a chance to look into this, however @xusiyuan841028 has shared some info in the [Gitter Chat](https://gitter.im/ryanoasis/vim-devicons) that might be of some help to some of you. ¯\_(ツ)_/¯

https://github.com/macvim-dev/macvim/blob/0e954ac375d78d86cfd41377440c7f5977ae8924/src/screen.c#L8068-L8070

--

Some other references from searching (unsure if completely related):

h

[2016-06-10 18:04] ryanoasis commented on #145
Looks like this bug is related to vim itself and it has been around for a while now, see: http://vim.1045645.n5.nabble.com/behavior-of-mouseclick-positioning-cursor-with-concealed-chars-td4489865.html

--

I will at least fix the brackets being next to the files/dirs which should help when yanking a word via keyboard but unfortunately that will not solve the issue you have with positioning and sel

[2016-06-12 14:42] ryanoasis commented on #152
Just went through this again and yes the pattern matches take precedence over the file extensions (which is probably what we want) but you are right in that the readme is missing the information for the option.

[2016-06-12 14:56] ryanoasis commented on #147
Cannot seem to replicate this with the given `vimrc` above. Closing this for now, we can re-open if the problem crops up again.

[2016-06-12 14:56] #147 closed

[2016-06-13 17:16] lerrua commented on #133
Hey guys,

I'm using last macvim version (in homebrew) and last version for devicons and I have the same issue here:
![screen shot 2016-06-13 at 2 10 42 pm](https://cloud.githubusercontent.com/assets/154603/16016317/d4fd6002-3170-11e6-86c7-3a32e016a3a4.png)

An yes, I tried this code, but no success.
[code]
The half icons bug happens with tabs also
![screen shot 2016-06-13 at 2 14 55 pm](https://c

[2016-06-13 17:54] lerrua commented on #133
So, this can fix the issue `set ambiwidth=double` BUT breaks airline status line. Damm...

[2016-06-13 18:16] ryanoasis commented on #133
The original issue from @d0u9 was actually a different problem (#84, #110) but we seem to now be using this issue in regards to a new (harder?) problem :stuck_out_tongue: ... so I am going to re-open this so there is less confusion and it's easier to find

--

@lerrua Hey yep sorry, still a serious issue.

--

Just wondering if anyone has been able to try @xusiyuan841028 suggested [fix](https://gi

[2016-06-14 02:19] xusiyuan841028 commented on #133
@ryanoasis

My fix   [https://github.com/xusiyuan841028/macvim/commit/27bcfd27d6c3500b6ca27c7387a19b5a8306df17](https://github.com/xusiyuan841028/macvim/commit/27bcfd27d6c3500b6ca27c7387a19b5a8306df17)

You can install my edge version by:
[code]

[2016-06-14 13:37] ryanoasis commented on #133
@xusiyuan841028 Thanks I just have not been able to test it out (I don't have access to a mac at the moment).

I was hoping someone else could verify/try the suggested fix

[2016-06-14 14:15] ryanoasis commented on #133
Seems like possibly due to change https://github.com/vim/vim/commit/cb0700844c1274fe8bc0ceaffaee0ad21c406f30 ?

I really need to test on an updated version of vim. Will try this weekend

[2016-06-16 03:45] zakariaGatter opened #157 "no icons wit terminus Font"
I use Terminus Font On my **xfce4-terminal** with vim-airline
i use this configuration for **vim-devicons** but no icons
[code]
Can Any One Help Me

[2016-06-16 12:46] ryanoasis commented on #157
@zakariaGatter Can you tell me where you downloaded it from?

It has to be a [patched font](https://github.com/ryanoasis/vim-devicons/tree/0.8.4#step-3-fonts) unless you want to setup your own filetypes with only the glyphs available in your font.

It is not a [Nerd Font](https://github.com/ryanoasis/nerd-fonts), unless you patched it yourself? Even then the name will be modified with a postfix va

[2016-06-17 00:23] zakariaGatter commented on #157
i Download it using Vundle.Vim
**Plugin 'ryanoasis/vim-devicons**
 and i already install FontAwesome and font-powerline and its work fine with everything
`i3Wm, Awesome Wm`

[2016-06-17 03:21] her commented on #157
@zakariaGatter

So all is working fine?

If you're still having problems feel free to post your .vimrc and screenshots if possible.

[2016-06-17 23:25] zakariaGatter commented on #157
ok but i have a long **.vimrc** I'll post the important
[code]
this my **.vimrc** on _Airline_ and _devicons_ plugins

I Use \:
* Xfce4-terminal :+1:
* Terminus Font :+1:
* FontAwesome :+1:

All work fine

[2016-06-18 01:20] zakariaGatter commented on #157
finally i found a solution i was needed to install
### nerd-fonts
im so sorry for disturb you guys

[2016-06-18 15:05] her commented on #157
@zakariaGatter no need to be sorry! I'm happy you've got it working 😊

Enjoy Devicons!

[2016-06-18 15:05] #157 closed

[2016-06-18 15:28] ryanoasis commented on #157
@zakariaGatter Glad you figured it out :smile:

@her Thanks for following up :+1:

[2016-06-25 13:57] valerybugakov commented on #133
@xusiyuan841028 I've tried your patched version, but still have half icons bug.
What I did:
[code]
Is there anything else needed here?

[2016-06-26 21:19] ryanoasis commented on #133
@valerybugakov Thanks for trying! I am not really sure if anything else is needed :worried:

[2016-06-27 05:42] valerybugakov commented on #133
@ryanoasis oh, if there will be something I can do to help with this issue - tell me 😊
Awesome plugin and would be awesome to have it working properly on macvim!

[2016-06-28 09:30] xusiyuan841028 commented on #133
@valerybugakov I have tested the fixed macvim in another macbook, and it is fine. The version info is as following:
[code]

I find the message `Compiled by Homebrew`, so I don't think you really use my patched macvim. I suggest you uninstall macvim, and re-install my patched version.
[code]

[2016-06-28 09:33] valerybugakov commented on #133
@xusiyuan841028 thanks for the info, will try again in an hour 👍

[2016-06-28 09:42] xusiyuan841028 commented on #133
@valerybugakov please pay attention to  `compiled Jun 23 2016 09:53:11`, I think the date should be the moment you install patched macvim.

[2016-06-28 15:05] valerybugakov commented on #133
@xusiyuan841028 should my `Included patches` match yours?
[code]
I still have the same result 😥  After installation I got a warning from `brew` that `macvim` wasn't linked properly and I did `brew link --overwrite macvim`. Is this ok or it can be a source of an issue?

[2016-06-28 15:07] valerybugakov commented on #133
@xusiyuan841028 Is there something specific that will identify your build for 100%? (that I've installed it correctly and test plugin with it)

[2016-06-29 16:27] valerybugakov commented on #133
@xusiyuan841028 also a strange thing, after that `ctrlp` stopped working for `vim` and `macvim`

[2016-06-29 16:47] xusiyuan841028 commented on #133
@valerybugakov Could you give me your email? I wanna your compiled MacVim and send mine to you, in order to check whether the patched version is available. Or you can contact with me via my public email.

[2016-06-29 17:28] valerybugakov commented on #133
@xusiyuan841028 sent you an email (skymk1@gmail.com)

[2016-07-15 10:09] liuxyc commented on #88
this bug really prevent me using vim-devicons......   hope get fixed soon

[2016-07-15 11:32] ryanoasis commented on #88
@liuxyc Sorry about that. Yes well I have a proposal for a solution (https://github.com/ctrlpvim/ctrlp.vim/issues/267) but waiting for a response and then I would submit a PR to ctrlp that would add support for logic on vimdevicons side to complete the fix

[2016-07-18 07:35] zeorin opened #158 "Coloured devicons out of the box"
It'd be a cool feature if coloured devicons worked out of the box. Perhaps include some colour maps for the stock shipped colorschemes and some popular 3rd party ones, a mechanism for users to define their own colour map for colorschemes, falling back to standard terminal colours for terminal vim and the actual colours as per filetype's official colour for GUI vim (e.g. Gulp's `#cf4646` for the Gu

[2016-07-19 09:50] sancel22 opened #160 "NerdTree Vertical Split Misaligned"
Hi, I had a problem with vertical split on **NerdTree**, It's a bit misaligned. What should I do to fix this problem. Thank you very much.  More info below.
#### Required Info
- [x] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/or helpful
- [x] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/vim-d

[2016-07-19 23:43] ryanoasis commented on #160
@sancel22 Hey thanks for the report. I am not really sure at the moment but it was similarly reported via the [chat](https://gitter.im/ryanoasis/vim-devicons?at=575fa73497e1b2d245e2a634) by @aslijiasheng

[2016-07-20 03:53] sancel22 commented on #160
Thank you @ryanoasis I'll just close this issue.

[2016-07-20 08:48] zeorin commented on #158
That would work only with NERDTree, I assume?

As you can see on line https://github.com/zeorin/dotfiles/blob/e01cebf/.vimrc#L870, my addition allows you to choose the file types in which the highlighting happens. To add Startify highlighting I added a comma and a word.

Also, I think having this as standard would be more appropriate than a separate repo/plugin.

It's your call. I've got what I wa

[2016-07-20 13:45] tiagofumo commented on #158
@zeorin your code looks very clean.

When I created my solution for this I really didn't put much time to think where and how I would do it. I think I just got upset with the fact there was no syntax identifier for specific file types and I started by trying to add it. I also couldn't find anyone who cared enough about it at the time, so I just did whatever I thought was a good idea.

There is one

[2016-07-20 23:55] ryanoasis commented on #160
Actually there never was an issue created so I think you are correct in opening this one. I am re-opening :smile:

--

I was just pointing out that it was reported **but** no issue was made

[2016-07-20 23:58] ryanoasis commented on #158
Ah sorry I did **not** know that!

I would be up for that actually.

If either of you want to submit a PR I would be happy to get something merged in (even if https://github.com/tiagofumo/vim-nerdtree-syntax-highlight is around)

Linking to https://github.com/tiagofumo/vim-nerdtree-syntax-highlight will/should still be done in the readme

[2016-07-22 08:59] befullstackdev commented on #133
for now is there a way to disable devicons when gui_running?

[2016-07-23 23:50] #137 closed

[2016-07-23 23:50] #152 closed

[2016-07-28 16:47] ryanoasis commented on #88
The support needed in ctrlp has now been merged 🎉 . The vimdevicons portion will be added in the next release  (v0.9.0)

[2016-08-03 15:02] michaelmior commented on #106
@alexanderjeurissen Any movement on this by chance?

[2016-08-04 10:54] alexanderjeurissen commented on #106
@michaelmior the code snippet that i shared in a previous comment still works. However it is required that the user specifies this in their vimrc.

I so far haven't found time to work on implementing this in the devicons vim plugin. I don't expect to have spare time to work on this till september. So if people think it's a  high priority feature, they can use the code I provided as a starting poin

[2016-08-16 14:24] mhartington opened #162 "E670 in neovim with the doc file"
#### Required Info

- [ x  ] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/or helpful
- [ x ] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/vim-devicons#faq--troubleshooting)
- [ x ] I have read or at least glanced at the [Wiki](https://github.com/ryanoasis/vim-devicons/wiki)

- [ ] What **versi

[2016-08-18 12:01] ryanoasis commented on #162
Thanks and I appreciate it. Let me know if I can help but I might not be able to

[2016-08-18 15:08] zchee commented on #162
@ryanoasis I have the same issue.
I don't know `help file encodings` details, but maybe(not tested), it caused by added ✅  icon into the `doc/webdevicons.txt`?
It seems have not that icon on 1bd919e4e711ad7ec9f3077e66cc0701b818fcbc.

I will test it later.

[2016-08-19 00:40] ryanoasis commented on #162
@zchee Hey thanks

[2016-08-19 00:48] mhartington commented on #162
PR Sent 🎉

[2016-08-19 00:57] ryanoasis commented on #162
Cool thanks for the fix. Ha who would have figured that would cause such a breaking issue :stuck_out_tongue:

I actually generate the vim doc file from the readme markdown using `html2vimdoc` so I might need to adjust something after it builds or it will recopy that glyph and I kind of like having it on the readme :smile:

for reference: https://github.com/ryanoasis/vim-devicons/wiki/Development-W

[2016-08-19 00:59] mhartington commented on #151
I will say...

Deoplete (neovim completion) will allow for this...

<img width="905" alt="screen shot 2016-08-18 at 8 55 38 pm" src="https://cloud.githubusercontent.com/assets/2835826/17795430/57641d62-6586-11e6-8e72-59d5242812a0.png">

<img width="590" alt="screen shot 2016-08-18 at 8 56 40 pm" src="https://cloud.githubusercontent.com/assets/2835826/17795437/5f6dccba-6586-11e6-91a6-92b8b8ec1476.p

[2016-08-19 01:01] ryanoasis commented on #151
@mhartington I had no idea. That is really cool. Thanks for sharing

[2016-08-27 07:33] liuxyc commented on #160
seems it depends on the font which you use in terminal

[2016-08-27 14:04] keenwon commented on #133
![image](https://cloud.githubusercontent.com/assets/5516478/18027876/9bf9da1c-6ca1-11e6-914e-23679830e1f6.png)

I solve this problem by this:

![image](https://cloud.githubusercontent.com/assets/5516478/18027872/84effa72-6ca1-11e6-9d0c-02ff84cadb61.png)

[2016-08-28 16:35] xusiyuan841028 commented on #133
@keenwon The font rendering becomes ugly！
![image](https://cloud.githubusercontent.com/assets/1681459/18028812/12c53e26-6cba-11e6-9875-f1984e3a4563.png)
![image](https://cloud.githubusercontent.com/assets/1681459/18028816/239b15cc-6cba-11e6-8abb-0505bc26030e.png)

![](https://cloud.githubusercontent.com/assets/5516478/18027876/9bf9da1c-6ca1-11e6-914e-23679830e1f6.png)

[2016-08-28 20:29] #162 closed

[2016-09-08 21:09] junkmechanic commented on #162
Hi,
I still face this issue with dein on nvim 0.1.6-72-gfe06e2a . Any pointers?

Thanks

[2016-09-08 23:52] mhartington commented on #162
Same here. Maybe it has to do with `html2vimdoc`?

[2016-09-09 06:30] ryanoasis commented on #162
@junkmechanic did you pull the latest devicons?

[2016-09-09 08:42] junkmechanic commented on #162
hi @ryanoasis
my last pull was a few minutes before posting that comment. So, yes. :D .

Its when @mhartington mentioned that it could be an issue with `html2vimdoc` is when I glazed over the code. It explicitly encodes the output to `utf-8` before printing it.
Speaking out of limited experience with shell redirection (and most other things for that matter), this could be an issue with how the out

[2016-09-11 04:32] junkmechanic commented on #162
Posting relevant discussion from neovim chat group:
[code]

Not sure when they intend to fix this feature/bug in neovim, but in the meantime, would it be possible to change the hyphen in the title of the doc?

[2016-09-11 17:43] cescoferraro opened #164 "Vundle doc/tags"
I am quite new to vim, so this might be more of a question, than a bug. Although, it does not prevent me any functionality, I think something is not right.

Everytime I run vundle :PluginInstall command, it clones a copy of vim-devicons at "~/.vim/plugins" as expected. 👍
The problem is that it creates a folder called "doc/tags" inside this freshly cloned repo, that is not on the original repo. So

[2016-09-13 12:00] liuxyc commented on #160
on ubuntu  16.04, this option can fix this issue

![screenshot from 2016-09-13 19-53-36](https://cloud.githubusercontent.com/assets/3349675/18472924/b96df508-79ec-11e6-8b3f-39754ff2863c.png)

[2016-09-13 12:15] sancel22 commented on #160
Thanks, but I cannot see this option on version 15.04 :(

Cel Pitogo
cel.pitogo@bibo.com.ph

[2016-09-15 16:33] LumpyChen opened #165 "Bracket problem with decorated folder node"
# Bracket problem with decorated folder node

Hi, awesome plugin!
Now there goes a problem: a single bracket appear on the first line of my nerd-tree.
I set this in my `.vimrc`:
[code]
The bracket dismisses as long as I delete the 2 sentences above.

#### Required Info

- [x] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/o

[2016-09-15 23:45] ryanoasis commented on #165
Interesting haven't seen that before. I'll check it out when I can. Thanks!

[2016-09-15 23:48] LumpyChen commented on #165
Thanks for you fast replying!
Here goes my [.vimrc.bundles.local](https://github.com/LumpyChen/Conf-mac/blob/master/Vim/.vimrc.bundles.local) which may help you.

[2016-09-23 22:44] ryanoasis commented on #165
@LumpyChen Thanks for the link, I haven't had a chance to follow up yet.

[2016-09-23 22:48] ryanoasis commented on #164
Sorry for the delayed reply. This link may be of some help to you: http://usevim.com/2012/12/21/vim-101-help-tags/
:smile:

[2016-09-23 22:51] ryanoasis commented on #88
Wow has it been this long? :blush: I will **try** to get this up this weekend. Thanks!

[2016-09-30 09:48] kristijanhusak commented on #133
I'm having the same issue:

OS: Xubuntu 16.04
Vim version: 8

In terminal Vim everything looks fine:
![vim-ok](https://cloud.githubusercontent.com/assets/1782860/18987750/71c16d92-8703-11e6-8817-a12b216e1015.png)

But in GVim it's cut in half:
![not-ok-gvim](https://cloud.githubusercontent.com/assets/1782860/18987763/80ad684c-8703-11e6-87da-97c79d7b9d13.png)

I'm using Inconsolata font, specifical

[2016-10-01 14:39] #88 closed

[2016-10-01 14:41] ryanoasis commented on #164
@cescoferraro Is this still an issue?

[2016-10-01 14:46] #164 closed

[2016-10-01 14:59] cescoferraro commented on #164
@ryanoasis I wish I could avoid it.
But its not a Vundle issue at all

[2016-10-04 02:29] tommyc38 opened #167 "Error thrown when sourcing vim without opening NERDTree"
#### Required Info
- [ ] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/or helpful
  Yes.
- [ ] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/vim-devicons#faq--troubleshooting)
  Yes.
- [ ] I have read or at least glanced at the [Wiki](https://github.com/ryanoasis/vim-devicons/wiki)
  Yes
- [ ] W

[2016-10-09 17:41] KabbAmine commented on #133
@kristijanhusak `set ambiwidth=double` should solve devicons problem, but all other unicode characters will look ugly (Try to write french characters: é,è...).

[2016-10-10 06:29] kristijanhusak commented on #133
@KabbAmine that fixes the icons issue, but messes up my airline, and i have `$` at end of each line.
![ambiwidth-double](https://cloud.githubusercontent.com/assets/1782860/19228242/8d2cfc50-8ec3-11e6-97fd-7271ab0a7e98.png)

[2016-10-10 07:48] KabbAmine commented on #133
@kristijanhusak I know for airline, but the `$` is from `list`/`listchars` options.

[2016-10-10 16:15] F1LT3R opened #168 "Include Order Instructions Wrong"
#### Required Info

N/A (Documentation issue)

#### Optional Info

There's a conflict in your documentation.

First is says that "DevIcons" should load **before** plugins.

<img width="794" alt="screen shot 2016-10-10 at 12 11 55 pm" src="https://cloud.githubusercontent.com/assets/1218446/19242848/fc93dca2-8ee2-11e6-8d33-c84210d4dc39.png">

Then it says that "DevIcons" should load **after** plugin

[2016-10-10 22:31] ryanoasis commented on #168
@F1LT3R Hey good catch.

The latter is correct (it should load **after** the plugins mentioned *not* before).

Feel free to submit a PR or if you aren't interested in that I will fix it soon. Thanks!

[2016-10-12 15:50] Leeiio commented on #165
I have this problem too :(

[2016-10-13 05:06] Leeiio commented on #141
+1

[2016-10-14 11:13] ryanoasis commented on #167
Thanks for your report. I will look into this

[2016-10-14 23:59] #168 closed

[2016-10-15 12:07] Leeiio opened #171 "Support vimfiler in explorer mode?"
Now i found vim-devicons support vimfiler only when use `:VimFiler` but not `:VimFilerExplorer`, so do you have a plan to support it?
Thanks!

[2016-10-15 18:46] ryanoasis commented on #165
@LumpyChen Sorry for the delay in a proper reply.. just tested with your settings as best I could (not on iterm/mac).

Do you still have this issue? If so:

- Do you have the latest versions of all plugins, particularly https://github.com/tiagofumo/vim-nerdtree-syntax-highlight ?
- If you remove the plugin vim-nerdtree-syntax-highlight does the problem go away?
- With/in the open NERDTree buffer c

[2016-10-15 18:58] ryanoasis commented on #167
@tommyc38 Can you please provide a link to your `vimrc` or preferably provide the minimum vimrc setup to replicate this issue?

Unable to replicate so far but a few guesses: Make sure devicons plugin loads after Nerdtree.

[2016-10-15 19:26] ryanoasis commented on #171
So I figured this out :smile:

Would you prefer the icons column before or after the files (type) ?

![vimfilerexplorer](https://cloud.githubusercontent.com/assets/8083459/19412818/b325a28c-92eb-11e6-8302-e3f4033e8bce.png)

[2016-10-16 01:40] ryanoasis commented on #141
So today I was able to get this integration working. It will require a PR to [vim-ctrlspace](https://github.com/vim-ctrlspace/vim-ctrlspace)

[2016-10-16 01:47] Leeiio commented on #171
I prefer before the files(type) :)
It's more intuitive.

[2016-10-16 01:51] ryanoasis commented on #126
Okay so I am going to close this since now [Nerd Fonts](https://github.com/ryanoasis/nerd-fonts) will **not** overwrite any powerline glyphs if they are present in the original source font ([see the commit here](https://github.com/ryanoasis/nerd-fonts/commit/1607658bc39e66ffa19d9e0e12b0a31f2b963b2f)).

See below:

![selection_15_10_16_21 46 17_1917x1073_001](https://cloud.githubusercontent.com/ass

[2016-10-16 01:51] #126 closed

[2016-10-16 01:52] ryanoasis commented on #171
@Leeiio Sure.. actually I can make it configurable

[2016-10-16 02:35] Leeiio commented on #165
@ryanoasis It's ok now, and i don't know why because i have do a lot of things there days like `PlugUpdate` my plugins and `brew update`, `brew upgrade` my vim. :)

[2016-10-16 02:40] LumpyChen commented on #165
@ryanoasis
I really appreciate your contribution, I solve this problem by a `:PluginInstall!` days ago.
I think there may be a compatible problem with other plugin's old version.
😧

[2016-10-18 19:24] shibumi opened #173 "wrong symbols in vim-airline"
#### Required Info

- [X] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/or helpful
- [X] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/vim-devicons#faq--troubleshooting)
- [X] I have read or at least glanced at the [Wiki](https://github.com/ryanoasis/vim-devicons/wiki)

- [X] What **version** of

[2016-10-18 21:16] shibumi commented on #173
Ok. I got it working now. I have installed the inconsolata fonts from nerd-fonts on top on my current configuration. This is only working when I install it on top of my configuration. When i remove awesome-terminal-font my powerlevel9k and vim-airline will stop working and look really buggy. I will close this issue because it's fixed for me and open a new one for this nerdtree issue.

[2016-10-18 21:16] #173 closed

[2016-10-18 21:20] shibumi opened #174 "consider updating NERDTree. (with newest NERDTree Version 5.0.0)"
#### Required Info

- [X] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/or helpful
- [X] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/vim-devicons#faq--troubleshooting)
- [X] I have read or at least glanced at the [Wiki](https://github.com/ryanoasis/vim-devicons/wiki)

- [X] What **version** of

[2016-10-18 23:55] shibumi commented on #174
Ok seems like I need the newest git head from nerdtree. Could you please mention this somewhere? Would be nice!

[2016-10-18 23:55] #174 closed

[2016-10-19 00:02] shibumi opened #175 "no webdevicons in airline statusbar"
#### Required Info
- [X] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/or helpful
- [X] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/vim-devicons#faq--troubleshooting)
- [X] I have read or at least glanced at the [Wiki](https://github.com/ryanoasis/vim-devicons/wiki)
- [X] What **version** of v

[2016-10-19 00:13] shibumi commented on #175
I have fixed this as follows:

I just add this to my `.vimrc`-File:

[code]

[2016-10-19 00:21] ryanoasis commented on #175
Can you check if devicons is loading after airline?

[2016-10-19 00:28] shibumi commented on #175
@ryanoasis
I have the reason for this behaviour.
I have installed it to ~/.vim
When I install it to /usr/share/vim/vimfiles everything is working normal...

Very strange. And yes devicons is/was loading after airline.

[2016-10-19 00:37] ryanoasis commented on #174
Yes you are right perhaps it can be made more clear In the readme. 😄

The reason for the warning was primarily to prevent people from using the version from the vimscripts site (which is not kept up to date)

Looks like the warning did it's job though 👍

[2016-10-19 15:20] shibumi commented on #174
@ryanoasis please do the same for vim-ctrlp. For vim-ctrlp I also get outdated messages. Seems like I need the newest git HEAD there also.

[2016-10-19 16:29] ryanoasis commented on #174
Yes that is true. I will update the readme but other than that seems like there is no issue here :smile:

[2016-10-19 22:38] mhartington commented on #162
hey @ryanoasis, sorry to ping, but could this be reopened? Looks like it's still around, and the explanation seem to be legit.

Will try to PR.

[2016-10-19 22:46] ryanoasis commented on #162
@mhartington Darn. Yeah sure go for it.

I did update the build notes so it doesn't accidentally make it's way back: https://github.com/ryanoasis/vim-devicons/wiki/Development-Workflow

But maybe there is another character causing issues.

Good luck

[2016-10-19 23:03] mhartington commented on #162
Tested it out locally, it is indeed that `-` in the title that causes the issue

[2016-10-19 23:48] ryanoasis commented on #162
Makes sense

I'd prefer to keep it as is. Maybe replace the dash `–` with a hyphen `-`. Does that also solve it?

[2016-10-20 00:36] ryanoasis opened #176 "Update readme with minimum version of Ctrlp and NERDTree info"
#### Required Info

* Add information on the readme about needing an up to date version of [CtrlP](https://github.com/ctrlpvim/ctrlp.vim) and [NERDTree](https://github.com/scrooloose/nerdtree) vim plugins (as the devicons plugin will cause warnings when certain features are not detected). This is not as clear as it should be on the readme.

see: #174 for source of the raised enhancement

#### Opti

[2016-10-20 03:45] Melon-Bread commented on #176
I should be able to do this, is there any particular location in the README you want it? I feel it could got a couple of places, but I think in installation would be best.

[2016-10-20 11:26] mhartington commented on #162
PR sent!

[2016-10-21 01:43] hashmaparraylist opened #179 "All icons in MacVim can be only show half."
In the airline's tab and statusbar

![2016-10-21 9 38 58](https://cloud.githubusercontent.com/assets/864384/19583821/566ef2d8-9772-11e6-9ef9-330190077cc8.png)

![2016-10-21 9 39 03](https://cloud.githubusercontent.com/assets/864384/19583827/5eb6e5ae-9772-11e6-9f05-46b334e0fb52.png)

In the startify

![2016-10-21 9 39 07](https://cloud.githubusercontent.com/assets/864384/19583840/7aa708ca-9772-11e6

[2016-10-21 16:54] sunliang711 opened #180 "devicons on mac doesn't work"
why can't I see the icons,please help me,this is the screenshot
![image](https://cloud.githubusercontent.com/assets/16303258/19605970/3fdd9086-97f1-11e6-934e-859db05c6a49.png)
![image](https://cloud.githubusercontent.com/assets/16303258/19605975/4f3d9daa-97f1-11e6-94f5-99d8dadcd333.png)
![image](https://cloud.githubusercontent.com/assets/16303258/19605980/61ef2518-97f1-11e6-9f28-e13d40f5928f.png)

[2016-10-21 21:06] ryanoasis commented on #180
It looks like your guifont I'd set to a powerline font not a nerd font.

Try this:
[code]

For more debugging help see the [Wiki FAQ](https://github.com/ryanoasis/vim-devicons/wiki/FAQ)

[2016-10-21 21:10] ryanoasis commented on #179
Thanks for the report and relevant details

This is dup/related to #133

[2016-10-21 23:40] sunliang711 commented on #180
After setting the terminal font to a sort of nerd font,it works,thank you!!

[2016-10-22 00:05] ryanoasis commented on #180
No problem 😄 glad you got it working 👍

[2016-10-22 00:05] #180 closed

[2016-10-23 00:39] liangguohuan opened #181 "it does not work all, just some. what's the promble?"
- nvim --version: 0.1.6-dev
- Vim (version: ): 8.0
- Operating system/version: Ubuntu 14.04.5 LTS
- Terminal name/version: Gnome-Terminal: 3.6.2

it just work for `nerdtree` and `vim-startify`

I do set code like below:

[code]

[2016-10-24 11:47] ryanoasis commented on #176
Closed with #177

[2016-10-24 11:47] #176 closed

[2016-10-27 21:45] extrante opened #183 "CtrlPBuffer shows [No Name] instead of buffer file name"
#### Required Info
- [x] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/or helpful
- [x] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/vim-devicons#faq--troubleshooting)
- [x] I have read or at least glanced at the [Wiki](https://github.com/ryanoasis/vim-devicons/wiki)
- [x] What **version** of v

[2016-10-31 10:43] smesko85 commented on #183
@extrante I just had same issue. I fixed it by loading vim-devicons before ctrlp plugin.
Hope this works for you too.

[2016-11-04 16:41] lerrua commented on #183
@smesko85 your solution works fine for me.

[2016-11-06 11:38] extrante commented on #183
It works for me too, but https://github.com/ryanoasis/vim-devicons#usage says you have to load CtrlP before vim-devicons loads. Docs should be updated if there's no proper fix to this problem.

[2016-11-07 01:58] #171 closed

[2016-11-07 01:59] ryanoasis commented on #171
I decided to remove the 'type' column as it is redundant when VimDevIcons are present.

Customization/configuration of the columns could be added later if there is enough demand. For now I think this does what you want.

[2016-11-07 09:47] Leeiio commented on #171
Nice! Thank you!

[2016-11-11 15:25] darrinholst commented on #183
For me loading devicons before ctrlp has the same effect as configuring ctrlp support off. You get buffer names back, but you don't get any of the icons.

[2016-11-15 03:01] dvcrn commented on #106
Another fzf user here. I tried the snippet from @alexanderjeurissen without much success. Anything else needed to get it working?

[2016-11-17 03:49] ryanoasis commented on #181
@liangguohuan Sorry for the delayed response. Can you provide a screenshot and a minimal `vimrc` (particularly the loading of plugins) ?

[2016-11-18 03:36] HerringtonDarkholme commented on #183
The easiest fix is change the line g:ctrlp_formatline_func to

`let g:ctrlp_formatline_func = 's:formatline(s:curtype() == "buf" ? v:val : WebDevIconsGetFileTypeSymbol(v:val) . " " . v:val) '
`

[2016-11-18 17:13] cj opened #186 "Cutting off text"
It seems to be cutting off the text.  ![](http://i.imgur.com/TrLnOhr.png)  I'm trying to figure out what is causing it.  Has anyone else run into this issue?

[2016-11-18 17:25] cj commented on #186
It seems as though it needs extra width on the right, because as you move the cursor to the right the text moves, but the icons stay still.

[2016-11-18 20:05] cj commented on #186
Seems to be an issue with `konsole`.

[2016-11-19 03:39] ryanoasis commented on #186
@cj If you disable vim-devicons does the problem still occur in konsole ?

[2016-11-20 08:05] liangguohuan commented on #181
Thanks for your response. The simple `vimrc` file i test like:

[code]

[2016-11-23 03:14] seemethere commented on #133
Can confirm having this issue as well.

OS: macOS Sierra 10.12
Vim Version: MacVim VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Nov 22 2016 21:04:38)

<img width="829" alt="screen shot 2016-11-22 at 9 12 01 pm" src="https://cloud.githubusercontent.com/assets/1700823/20550135/637f6aa8-b0f8-11e6-846a-0979e4533db8.png">

[2016-11-25 17:32] PezCoder commented on #183
@HerringtonDarkholme The mentioned line fixed the issue but the icons devicons icons are not coming in buffer search. Can I get it somehow ?

[2016-11-25 17:44] ryanoasis commented on #183
@PezCoder I think this would require a PR, see: https://github.com/ryanoasis/vim-devicons/pull/185#issuecomment-261690023

[2016-12-04 22:12] cj commented on #186
@ryanoasis I think it is an issue with konsole.  Closing this for now.

[2016-12-04 22:12] #186 closed

[2016-12-04 22:21] cj opened #188 "Issue with spacing when using WebDevIconsNerdTreeAfterGlyphPadding"
`let g:WebDevIconsNerdTreeAfterGlyphPadding = ' '`

![](http://image.prntscr.com/image/9729b9ddd43e45f598668e8e70bb4241.png)

[code]

platform: `osx 10.12.1`
devicons: `0.8.5`

[2016-12-04 22:23] ryanoasis commented on #186
@cj Good idea. Thanks for the follow-up

[2016-12-04 22:29] cj commented on #188
also on a side note, I'm randomly seeing `]`.

![](http://image.prntscr.com/image/160aa39dc8f347b89543ec3c9da11acb.png)

[2016-12-10 14:06] ryanoasis commented on #133
Thanks all for the helpful details. I know this is a pretty important and critical bug for using this plugin on MacVim.

I've been busy on [Nerd Fonts](https://github.com/ryanoasis/nerd-fonts) but even so not sure even if there is something specific I could do to contribute to solving this. That being said I will continue to try to look for and accept ideas on how to resolve :smile:

[2016-12-10 14:18] ryanoasis commented on #183
Closing this as the root cause is now fixed. As @PezCoder mentioned the icons will no longer show up but that will require another PR to CtrlP :blush:

[2016-12-10 14:18] #183 closed

[2016-12-10 14:25] ryanoasis commented on #175
I am going to mark this as fixed then since the issue seemed to be environment related :smile:

[2016-12-10 14:25] #175 closed

[2016-12-10 14:26] ryanoasis commented on #181
@liangguohuan
Can you move `Plug 'https://github.com/ryanoasis/vim-devicons.git'` to _after_ the unite and vimfiler lines and retry?

The plugin should load _after_ the others.

[2016-12-22 21:40] bytebeast commented on #165
I also ran into this issue. The offending plugin was

- https://github.com/kien/rainbow_parentheses.vim

After removing this plugin, the extra bracket went away.

[2016-12-23 13:55] rishitank commented on #188
I can confirm the spacing issue happens even without setting WebDevIconsNerdTreeAfterGlyphPadding, it is actually to do with setting DevIconsEnableFoldersOpenClose and also it doesn't matter what WebDevIconsUnicodeGlyphDoubleWidth is set to because it is the actual folder open icon that is causing the spacing to be affect as it appears the folder open icon has a different width to the folder close

[2016-12-25 02:06] ryanoasis commented on #165
Thanks for the updates all.

@bytebeast Thanks, interesting I will have to try that out.

[2016-12-27 16:28] liangguohuan commented on #181
it works, thanks!

[2016-12-27 16:28] #181 closed

[2016-12-28 04:55] ryanoasis commented on #181
Sure anytime 😄 . Glad you got it working. Thanks for the update also.

[2017-01-02 15:27] wuqiong4945 opened #189 "nerdtree, when press "up a dir", the folder icon missing"
system : ubuntu 16.04
vim version : 7.4

![screenshot from 2017-01-02 22-52-45](https://cloud.githubusercontent.com/assets/1294412/21591516/e3330de2-d13f-11e6-919f-86ad8a9e41c2.png)

[2017-01-05 20:28] 0phoff commented on #158
Sorry to bump this thread but I wanted to know if you are any close to implementing this?
If not, then I will implement Zeorin's code to work for a Unite Buffer, whilst waiting for your implementation! :)

Could this also work for lightline (or any other statusbar, but I use lightline...)?
Do statusbar have their own filetype defined for highlighting?

Thank you in advance for answering my (maybe

[2017-01-05 20:40] zeorin commented on #158
I've not worked on this because it's working fine for me with my setup. However, it'd be really nice to have it in the plugin by default.

I'll have a look at it, but don't expect anything right away ;-)

[2017-01-10 22:58] 0phoff commented on #158
[Here is what I came up with](https://github.com/0phoff/DotFiles/blob/master/Vim/scripts/ColoredDevicons.vim)
I think I took the best of both @zeorin's and @tiagofumo's solution...
It is RGB-based like tiagofumu's solution, but uses vim syntax highlighting like zeorin.

I also got colored icons working for the lightline plugin (was quite a pain, until I looked at some tutorials about plain vanilla

[2017-01-11 22:24] ryanoasis commented on #158
Sorry for the delayed responses all.

@0phoff Looks pretty cool thanks. I understand your reasons for not sending a PR so no worries but feel free to change your mind as well :wink:

Good catch on the svg icons! Yes you are correct those should be the same as the other images or some similar image icon.

[2017-01-12 06:24] cmcginty commented on #133
I use the UbuntuMono font, and there are actually two versions that conflict in the package. If you only in the all the `.*Mono.ttf` fonts then there is no clipping. The standard fonts must have larger icons that clip, FWIW.

[2017-01-15 01:29] cmcginty commented on #154
Can someone explain why this is happening? Why does the "syntax on" command in any buffer cause the brackets to show up?

[2017-01-15 12:30] dawikur opened #190 "C/C++ header files"
#### Required Info

- [X] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/or helpful
- [X] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/vim-devicons#faq--troubleshooting)
- [X] I have read or at least glanced at the [Wiki](https://github.com/ryanoasis/vim-devicons/wiki)

- [X] What **version** of

[2017-01-16 01:58] ryanoasis commented on #190
@dawikur Thanks for this. Yeah you are right. I think when I first added the extensions I did not add all possible variations but this would be a good improvement :+1:

[2017-01-16 15:01] Jeansen opened #192 "No Icons shown in vimfiler explorer mode when listchars set"
I have the following in my .vimrc:
`"set listchars=nbsp:·,trail:·,precedes:«,extends:»,eol:↲,tab:◄-`
With this, I do not see the icons in VimFilerExplorer. They are overlapped by `»`. Removing the extends part from my listchars string solves this. Maybe it would be better to introduce a margin?

[2017-01-17 17:50] dawikur commented on #190
Is there any possibility to ass proper `h`/`hpp` icons? Or for now we need to satisfy with `c`/`c++` ? If there is no possibility for it we may add `c` icon to header files. What do you think?

[2017-01-18 02:26] ryanoasis commented on #190
@dawikur If I understand correctly you mean adding new icon and not just reusing the 'c' icon?

[2017-01-18 05:53] dawikur commented on #190
@ryanoasis Ah, sorry for this terrible typo!

Yes, the best solution would be to add new icon, but reusing is better than nothing.

[2017-01-18 18:59] ryanoasis commented on #190
Reuse that's easy but I'll look to see what else is available in [Nerd Fonts](ryanoasis/nerd-fonts)

No problem about the typo.. I figured as much :wink:

[2017-02-05 00:02] xguerin commented on #133
@xusiyuan841028 I can attest that your patch is working except for double width characters in the tabline. Any hope to see your fix merged into MacVim ?

[2017-02-06 01:23] chrisbward commented on #134
I'm starting to get these now - gnome terminal in neovim, I have the font installed...

[2017-02-20 12:53] ryanoasis commented on #141
Wow sorry this has been a while. I'll have to dig up where I left off after restoring my primary dev environment

[2017-02-20 12:54] ismay opened #193 "Nerdtree-git-plugin update adds ignored status, but icon seems missing"
#### Required Info

- [x] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/or helpful
- [x] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/vim-devicons#faq--troubleshooting)
- [x] I have read or at least glanced at the [Wiki](https://github.com/ryanoasis/vim-devicons/wiki)

- [x] What **version** of

[2017-02-20 12:56] ryanoasis commented on #189
Thanks for the report. I'll take a look

[2017-02-20 12:57] ryanoasis commented on #192
Thanks for the report. I will test this out

[2017-02-20 13:04] ryanoasis commented on #193
That's cool.

I wonder what the default char was. I will look into this. Perhaps you can set it to a custom codepoint?
Perhaps there is a standard glyph here that Nerd Fonts is missing.

[2017-02-20 13:05] ismay commented on #193
How would I do that?

[2017-02-20 13:13] ismay commented on #154
So the fix for this should be in master now right? Because I'm running 0.8.5, but I'm still encountering this issue. After sourcing the brackets show up in nerdtree.

[2017-02-20 13:25] ismay opened #194 "Folder icons bug"
#### Required Info

- [x] I have searched the [issues](https://github.com/ryanoasis/vim-devicons/issues) for my issue and found nothing related and/or helpful
- [x] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/vim-devicons#faq--troubleshooting)
- [x] I have read or at least glanced at the [Wiki](https://github.com/ryanoasis/vim-devicons/wiki)

- [x] What **version** of